@use '../function' as *;
@use '../mixin' as *;

@mixin generate-media {
  // Set responsive images and disable image select
  img {
    display: block;
    height: auto;
    max-width: 100%;
    user-select: none;
  }

  iframe {
    height: 100%;
    width: 100%;
  }

  figure {
    margin-left: 0;
    margin-right: 0;

    figcaption {
      margin-top: spacer(xs);
      text-align: center;
    }
  }

  @if setting(utilities) == true {
    .aspect-ratio-16-9 { aspect-ratio: 16 / 9; }
    .aspect-ratio-4-3 { aspect-ratio: 4 / 3; }
    .aspect-ratio-1-1 { aspect-ratio: 1 / 1; }
  }
}
