@use 'variable' as *;
@use 'function' as *;

@mixin generate-table() {
  .table-responsive {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;

    table {
      min-width: $table-responsive-width;
    }
  }

  .table {
    border-collapse: collapse;
    color: color(text, table);
    width: 100%;

    caption {
      color: color(caption, table);
      margin-bottom: spacer(s);
    }

    th,
    td {
      border-bottom: 1px solid color(border, table);
      line-height: $line-height-md;
      padding: $table-padding;
    }

    th {
      color: color(heading, table);
      text-align: inherit;
      text-align: -webkit-match-parent;
    }

    &--striped {
      > tbody > tr:nth-child(even) {
        background-color: color(stripe, table);
      }
    }

    &--hover {
      > tbody > tr:hover {
        background: color(hover, table);
      }
    }

    &--clear-border {
      th,
      td {
        border: 0;
      }
    }

    &--sm {
      th,
      td {
        padding: $table-padding-sm;
      }
    }

    &--rounded {
      th,
      td {
        &:first-child {
          border-start-start-radius: $border-radius-lg;
          border-end-start-radius: $border-radius-lg;
        }

        &:last-child {
          border-start-end-radius: $border-radius-lg;
          border-end-end-radius: $border-radius-lg;
        }
      }
    }
  }
}
