.btn {
  align-items: center;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  gap: 0.5rem;
  justify-content: center;
  line-height: 1;
  padding: 0.75em 1em;
  text-align: start;
  text-decoration: none;
  transition: all var(--spruce-transition-duration) var(--spruce-transition-timing-function);
}
.btn:focus {
  outline-color: transparent;
  outline-style: solid;
}
.btn:disabled, .btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.btn--icon {
  padding: 0.75em;
}
.btn--icon.btn--sm {
  padding: 0.5em;
}
.btn--icon.btn--lg {
  padding: 0.9em;
}
.btn--sm {
  font-size: 0.8rem;
  padding: 0.5em;
}
.btn--lg {
  padding: 0.9em 1.15em;
}
@media (min-width: 64em) {
  .btn--lg {
    font-size: 1.15rem;
  }
}
.btn--block {
  width: 100%;
}
.btn__icon {
  flex-shrink: 0;
  height: 1em;
  width: 1em;
}
.btn__icon--sm {
  height: 0.85em;
  width: 0.85em;
}

.btn--primary {
  background-color: var(--spruce-btn-color-primary-background);
  color: var(--spruce-btn-color-primary-foreground);
}
.btn--primary:hover {
  background-color: var(--spruce-btn-color-primary-background-hover);
  color: var(--spruce-btn-color-primary-foreground-hover);
}
.btn--primary:focus {
  box-shadow: 0 0 0 0.25rem var(--spruce-btn-color-primary-shadow-focus);
  outline: 2px solid transparent;
}

.btn--secondary {
  background-color: var(--spruce-btn-color-secondary-background);
  color: var(--spruce-btn-color-secondary-foreground);
}
.btn--secondary:hover {
  background-color: var(--spruce-btn-color-secondary-background-hover);
  color: var(--spruce-btn-color-secondary-foreground-hover);
}
.btn--secondary:focus {
  box-shadow: 0 0 0 0.25rem var(--spruce-btn-color-secondary-shadow-focus);
  outline: 2px solid transparent;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
fieldset > * {
  margin-block-end: 0;
  margin-block-start: 0;
  width: 100%;
}
fieldset > * + * {
  margin-block-start: 1rem;
}
fieldset + fieldset {
  margin-top: 3rem;
}

legend {
  color: var(--spruce-form-color-legend);
  font-size: clamp(1rem, 5vw, 1.333rem);
  font-weight: 700;
}

.form-label {
  color: var(--spruce-form-color-label);
}
.form-label--sm {
  font-size: 0.9rem;
}
.form-label--lg {
  font-size: 1.1rem;
}

.form-control {
  appearance: none;
  background-color: var(--spruce-form-color-background);
  border: 1px solid var(--spruce-form-color-border);
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: var(--spruce-form-color-text);
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5em 0.75em;
  transition: all var(--spruce-transition-duration) var(--spruce-transition-timing-function);
  width: 100%;
}
.form-control::placeholder {
  color: var(--spruce-form-color-placeholder);
}
.form-control:focus {
  border-color: var(--spruce-form-color-border-focus);
  box-shadow: 0 0 0 0.25rem var(--spruce-form-color-shadow-focus);
  outline: 2px solid transparent;
}
.form-control[disabled], .form-control[disabled=true] {
  background-color: var(--spruce-form-color-background-disabled);
  border-color: var(--spruce-form-color-border-disabled);
  cursor: not-allowed;
}
.form-control--valid, .form-control--invalid {
  background-position: center right 0.5em;
  background-repeat: no-repeat;
  background-size: 1.25em auto;
  padding-inline-end: 2em;
}
html[dir=rtl] .form-control--valid, html[dir=rtl] .form-control--invalid {
  background-position: center left 0.5em;
}
.form-control--valid {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"%3e%3cpath d="M12,2c5.519,0 10,4.481 10,10c0,5.519 -4.481,10 -10,10c-5.519,0 -10,-4.481 -10,-10c0,-5.519 4.481,-10 10,-10Zm0,1.667c4.599,-0 8.333,3.734 8.333,8.333c0,4.599 -3.734,8.333 -8.333,8.333c-4.599,0 -8.333,-3.734 -8.333,-8.333c-0,-4.599 3.734,-8.333 8.333,-8.333Zm-1.476,10.182l-2.984,-2.984c-0.065,-0.065 -0.17,-0.065 -0.235,0l-0.943,0.943c-0.065,0.065 -0.065,0.171 -0,0.236l4.043,4.042c0.033,0.033 0.076,0.05 0.119,0.049c0.044,0.001 0.087,-0.016 0.12,-0.049l6.994,-6.994c0.065,-0.065 0.065,-0.17 0,-0.235l-0.943,-0.943c-0.065,-0.065 -0.17,-0.065 -0.235,-0l-5.936,5.935Z" style="fill:%2300a854;"/%3e%3c/svg%3e');
  border-color: var(--spruce-alert-color-success);
}
.form-control--valid:focus {
  border-color: var(--spruce-form-color-valid);
  box-shadow: 0 0 0 0.25rem var(--spruce-form-color-valid-shadow);
  outline: 2px solid transparent;
}
.form-control--invalid {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"%3e%3cpath d="M12,2c5.519,0 10,4.481 10,10c0,5.519 -4.481,10 -10,10c-5.519,0 -10,-4.481 -10,-10c0,-5.519 4.481,-10 10,-10Zm0,1.667c4.599,-0 8.333,3.734 8.333,8.333c0,4.599 -3.734,8.333 -8.333,8.333c-4.599,0 -8.333,-3.734 -8.333,-8.333c-0,-4.599 3.734,-8.333 8.333,-8.333Zm0.813,11.649c-0,-0.081 -0.065,-0.146 -0.146,-0.146l-1.334,0c-0.081,0 -0.146,0.065 -0.146,0.146l0,1.169c0,0.08 0.065,0.146 0.146,0.146l1.334,-0c0.081,-0 0.146,-0.066 0.146,-0.146l-0,-1.169Zm-0,-7.784c-0,-0.09 -0.073,-0.163 -0.163,-0.163l-1.3,0c-0.09,0 -0.163,0.073 -0.163,0.163l0,6.351c0,0.09 0.073,0.163 0.163,0.163l1.3,-0c0.09,-0 0.163,-0.073 0.163,-0.163l-0,-6.351Z" style="fill:%23db2929;"/%3e%3c/svg%3e');
  border-color: var(--spruce-alert-color-danger);
}
.form-control--invalid:focus {
  border-color: var(--spruce-form-color-invalid);
  box-shadow: 0 0 0 0.25rem var(--spruce-form-color-invalid-shadow);
  outline: 2px solid transparent;
}
.form-control--sm {
  font-size: 0.9rem;
  padding: 0.25em 0.5em;
}
.form-control--lg {
  font-size: 1.1rem;
  padding: 0.75em 1em;
}

.form-description {
  color: var(--spruce-form-color-text);
  display: block;
  font-size: 1rem;
}

.form-group > * {
  margin-block-end: 0;
  margin-block-start: 0;
}
.form-group > * + * {
  margin-block-start: 0.25rem;
}
.form-group--vertical-check {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.form-group--vertical-check > * {
  margin-block-end: 0;
  margin-block-start: 0;
}
.form-group--vertical-check > * + * {
  margin-block-start: 0.5rem;
}
.form-group--grid {
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.form-row--mixed {
  --col-width: 20ch;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.form-row--mixed > * {
  flex: 1 1 var(--col-width);
}

.form-check {
  align-items: center;
  display: inline-flex;
}

.form-check--sm .form-check__control {
  font-size: 0.9rem;
}

.form-check--lg .form-check__control {
  font-size: 1.1rem;
}

.form-check__control {
  appearance: none;
  background-color: var(--spruce-form-color-background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid var(--spruce-form-color-border);
  flex-shrink: 0;
  font-size: 1rem;
  height: 1em;
  line-height: 1;
  margin-bottom: -0.1em;
  margin-inline-end: 0.5rem;
  transition: all var(--spruce-transition-duration) var(--spruce-transition-timing-function);
  width: 1em;
}
.form-check__control[type=radio] {
  border-radius: 50%;
}
.form-check__control[type=checkbox] {
  border-radius: 0.25rem;
}
.form-check__control:focus {
  border-color: var(--spruce-form-color-border-focus);
  box-shadow: 0 0 0 0.25rem var(--spruce-form-color-shadow-focus);
  outline: 2px solid transparent;
}
.form-check__control:checked {
  background-color: var(--spruce-form-color-check-background);
  border-color: var(--spruce-form-color-check-background);
}
.form-check__control:checked[type=radio] {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3e%3ccircle cx="12" cy="12" r="6" style="fill:white;"/%3e%3c/svg%3e');
}
.form-check__control:checked[type=checkbox] {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3e%3cpath d="M9.525,13.777l-2.411,-2.412c-0.234,-0.233 -0.613,-0.233 -0.846,0l-1.27,1.27c-0.233,0.233 -0.233,0.612 0,0.846l4.104,4.103c0.116,0.117 0.269,0.175 0.422,0.175l0.003,0c0.152,0 0.305,-0.058 0.421,-0.175l9.054,-9.053c0.233,-0.234 0.233,-0.613 -0,-0.846l-1.27,-1.269c-0.233,-0.234 -0.612,-0.234 -0.846,-0l-7.361,7.361Z" style="fill:white;"/%3e%3c/svg%3e');
}
.form-check__control:indeterminate[type=checkbox] {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"%3e%3cpath d="M19.5,11.1c-0,-0.331 -0.269,-0.6 -0.6,-0.6l-13.8,0c-0.331,0 -0.6,0.269 -0.6,0.6l0,1.8c0,0.331 0.269,0.6 0.6,0.6l13.8,0c0.331,0 0.6,-0.269 0.6,-0.6l-0,-1.8Z" style="fill:white;"/%3e%3c/svg%3e');
  background-color: var(--spruce-form-color-check-background);
  border-color: var(--spruce-form-color-check-background);
}
.form-check__control:disabled {
  background-color: var(--spruce-form-color-background-disabled);
  border-color: var(--spruce-form-color-border-disabled);
  cursor: not-allowed;
}
.form-check__control:disabled + .form-check__label {
  opacity: 0.5;
}

.form-check__label {
  line-height: calc(2px + 2ex + 2px);
}

select:not([multiple]):not([size]) {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3e%3cpath d="M12,12.692l-5.203,-5.203c-0.234,-0.234 -0.614,-0.234 -0.849,0l-1.272,1.273c-0.235,0.234 -0.235,0.614 -0,0.849l6.9,6.9c0.234,0.234 0.614,0.234 0.848,-0l6.9,-6.9c0.235,-0.235 0.235,-0.615 0,-0.849l-1.272,-1.273c-0.235,-0.234 -0.615,-0.234 -0.849,0l-5.203,5.203Z" style="fill:%238660cd;"/%3e%3c/svg%3e');
  background-position: center right 0.5em;
  background-repeat: no-repeat;
  background-size: 1.25em auto;
  padding-inline-end: 2em;
}
html[dir=rtl] select:not([multiple]):not([size]) {
  background-position: center left 0.5em;
}

.field-feedback {
  display: block;
}
.field-feedback--valid {
  color: var(--spruce-alert-color-success);
}
.field-feedback--invalid {
  color: var(--spruce-alert-color-danger);
}

/*# sourceMappingURL=spruce.css.map */
