@use 'variable' as *;
@use 'function' as *;

.table-responsive {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;

  table {
    min-width: $table-responsive-width;
  }
}

.table {
  border-collapse: collapse;
  color: color(text, table);
  width: 100%;

  caption {
    color: color(caption, table);
    margin-bottom: spacer(s);
  }

  th,
  td {
    border-bottom: 1px solid color(border, table);
    line-height: $line-height-md;
    padding: $table-padding;
  }

  th {
    color: color(heading, table);
    text-align: inherit;
    text-align: -webkit-match-parent;
  }

  &--striped {
    > tbody > tr:nth-child(even) {
      background-color: color(stripe, table);
    }
  }

  &--hover {
    > tbody > tr:hover {
      background: color(hover, table);
    }
  }

  &--clear-border {
    th,
    td {
      border: 0;
    }
  }

  &--sm {
    th,
    td {
      padding: $table-padding-sm;
    }
  }
}
