@use 'spruce';

/*
@include spruce.generate-color-variables(
  $colors: spruce.$colors,
  $selector: ':root[data-theme-mode="dark"]'
);
*/

html[data-theme-mode='dark'] {
  select:not([multiple]):not([size]) {
    @include spruce.field-icon(
      spruce.$select-image,
      spruce.color(select-foreground, form, true, spruce.$dark-colors)
    );
  }
}
