@use 'sass:color';
@use 'sass:math';
@use 'sass:map';

@forward 'config';
@forward 'layout';
@forward 'component';
@use 'spruce';

:root {
  @include spruce.set-css-variable((
    --container-gap: spruce.spacer-clamp(m, l)
  ));
}

@include spruce.generate-form-check(
  '.wpcf7-list-item label',
  '.wpcf7-list-item input',
  '.wpcf7-list-item .wpcf7-list-item-label'
);

.btn--custom {
  @include spruce.btn-variant(custom);
  box-shadow: -3px 5px spruce.color(custom-foreground, btn);
  border: 3px solid spruce.color(custom-foreground, btn);
  border-radius: 0;
  font-family: spruce.$font-family-cursive;
}

.btn--tertiary {
  @include spruce.btn-variant(tertiary);
}

.clear-btn {
  @include spruce.clear-btn;
}

.section-title {
  border-block-end: 1px solid spruce.color(border);
  font-size: spruce.font-size(h4);
  margin-block-end: spruce.spacer(s);
  padding-block-end: spruce.spacer(xs);

  * + & {
    margin-block-start: spruce.spacer(l);
  }
}

.ellipsis-1 {
  @include spruce.text-ellipsis(1);
}

.ellipsis-2 {
  @include spruce.text-ellipsis(2);
}

.selection {
  @include spruce.selection(olive);
}

.ellipsis-btn {
  @include spruce.text-ellipsis(1);
  max-width: 10ch;
}

.scrollbar {
  @include spruce.scrollbar;
  @include spruce.layout-stack;
  max-height: 15rem;
  overflow: auto;
  padding-inline-end: spruce.spacer(m);
}

.custom-heading-size {
  font-size: spruce.responsive-font-size(4rem, 30, 4vw);
}

.custom-link {
  transition-duration: spruce.transition(duration);
  transition-property: background-color;
  transition-timing-function: spruce.transition(timing-function);

  &:hover {
    background-color: aqua;
  }
}

.cleared-list {
  @include spruce.clear-list;
}

.card {
  @include spruce.a11y-card-link('.card__link', true);
  border: 1px solid spruce.color(border);
  border-radius: spruce.$border-radius-lg;
  padding: spruce.spacer(m);

  &__link {
    color: spruce.color(heading);
    font-size: spruce.font-size(h3);
    font-weight: 700;
    text-decoration: none;
  }
}

.break-long-url {
  @include spruce.word-wrap;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: spruce.spacer(s);
}
