@use 'spruce' as *;

.container {
  --inline-size: #{config('container-inline-size', $layout)};
  --gap: #{spacer-clamp('m', 'l')};

  @include layout-center(
    var(--gap),
    var(--inline-size)
  );

  &--wide {
    --inline-size: 100%;
  }

  &--narrow {
    --inline-size: 50rem;
  }
}
