@use 'spruce';

.site-main {
  padding-block: clamp(spruce.spacer(l), 5vw, spruce.spacer(xl));

  &__container {
    @include spruce.layout-center;
  }

  &__inner {
    display: grid;
    gap: spruce.spacer(l);
    grid-template-columns: minmax(0, 1fr);

    @include spruce.breakpoint(sm) {
      grid-template-columns: minmax(0, 15rem) minmax(0, 3.5fr);
    }
  }

  &__body {
    display: grid;
    column-gap: spruce.spacer(l);
    grid-auto-rows: min-content;
    grid-template-columns: minmax(0, 1fr);
    row-gap: spruce.spacer(m);
    order: -1;

    @include spruce.breakpoint(sm) {
      order: 2;
    }

    @include spruce.breakpoint(lg) {
      grid-template-columns: minmax(0, 3.5fr) minmax(0, 15rem);
    }
  }
}
