@use 'spruce' as *;

.l-main {
  padding-block: spacer-clamp('l', 'xl');

  &__inner {
    @include layout-sidebar('xl', 12rem);
  }

  &__sidebar {
    @include layout-stack('m');
  }

  &__body {
    margin-inline: auto;
    max-inline-size: 100%;
    inline-size: 80ch;
  }

  &__title {
    font-size: responsive-font-size(4rem);
    margin-block: 0 spacer('l');
  }

  &__content {
    @include layout-stack('s');
  }
}
