@use 'sass:color';
@use 'sass:map';
@use '../function' as *;
@use '../config' as *;

@mixin btn-variant(
  $type: primary,
  $focus: true
) {
  @if not map.has-key($colors, btn, $type + '-foreground') or not map.has-key($colors, btn, $type + '-background') {
    @error 'The #{$type + '-foreground'} or #{$type + '-background'} key name doesn\'t exist under btn at the $colors map.';
  }

  background-color: color($type + '-background', btn);
  color: color($type + '-foreground', btn);

  &:hover {
    @if map.has-key($colors, btn, $type + '-background-hover') {
      background-color: color($type + '-background-hover', btn);
    } @else {
      background-color: color.adjust(color($type + '-background', btn, true), $lightness: -10%);
    }

    @if map.has-key($colors, btn, $type + '-foreground-hover') {
      color: color($type + '-foreground-hover', btn);
    } @else {
      color: color($type + '-foreground', btn);
    }
  }

  @if $focus {
    &:focus-visible {
      @if map.has-key($colors, btn, $type + '-shadow-focus') {
        box-shadow: 0 0 0 $btn-shadow-width color($type + '-shadow-focus', btn);
      } @else {
        box-shadow: 0 0 0 $btn-shadow-width color.adjust(color($type + '-background', btn, true), $alpha: -0.75);
      }
      outline: 2px solid transparent;
    }
  }
}
