@use 'sass:map';
@use '../function' as *;
@use '../config' as *;

@mixin generate-color-variables(
  $colors: $colors,
  $selector: ':root'
) {
  @each $key, $value in $colors {
    #{$selector} {
      @if $key == accent {
        accent-color: #{map.get($value, color)};
      } @else {
        @each $name, $color in $value {
          --#{$internal-prefix}#{$key}-color-#{$name}: #{$color};
        }
      }
    }
  }
}
