@use 'sass:map';
@use '../function' as *;
@use '../config' as *;

// Style field focus state
@mixin field-focus(
  $type: 'box-shadow',
  $border-color,
  $ring-color,
  $box-shadow-type: outset,
  $ring-width: 2px,
  $ring-offset: 2px
) {
  @debug $box-shadow-type;

  @if $type == 'box-shadow' {
    border-color: $border-color;
    @if $box-shadow-type == 'inset' {
      box-shadow: 0 0 0 $ring-width $ring-color inset;
    } @else {
      box-shadow: 0 0 0 $ring-width $ring-color;
    }
    outline: 2px solid transparent;
  }

  @if $type == 'outline' {
    outline: $ring-width solid $ring-color;
    outline-offset: $ring-offset;
  }
}

// Style field disabled state
@mixin field-disabled(
  $background,
  $border
) {
  background-color: $background;
  border-color: $border;
  cursor: not-allowed;
}

// Get custom icon background for input and select fields
@mixin field-icon(
  $icon,
  $color
) {
  background-image: url('#{svg-escape(str-replace($icon, "#COLOR#", $color))}');
}
