@use '../variable' as *;

@mixin field-focus($border, $box-shadow) {
  border-color: $border;
  box-shadow: 0 0 0 $form-input-shadow-width $box-shadow;
  outline: 2px solid transparent;
}

@mixin field-disabled($background, $border) {
  background-color: $background;
  border-color: $border;
  cursor: not-allowed;
}
