@use 'sass:map';
@use '../function' as *;
@use '../config' as *;

// Set ::selection with automatic foreground color
@mixin selection(
  $background: color(primary),
  $foreground: null,
) {
  @if map.has-key($colors, 'base', $background) {
    $background: color($background, $only-color: true);
  }

  $foreground: color-contrast($background);

  ::selection {
    background-color: #{$background};
    color: #{$foreground};
  }
}
