@use 'sass:string';
@use '../function' as *;

/// Generates transition related declarations.
/// @param {string} $duration - The duration of the transition.
/// @param {string} $property - The property to which the transition is applied.
/// @param {string} $timing-function - The speed curve of the transition.
/// @return {string} - The generated transition declarations.
/// @throws {error} - If the duration or timing-function is invalid.
@mixin transition(
  $duration: duration,
  $property: all,
  $timing-function: timing-function,
) {
  @if $duration == duration {
    transition-duration: transition($duration);
  } @else {
    transition-duration: $duration;
  }
  transition-property: string.unquote($property);
  @if $timing-function == timing-function {
    transition-timing-function: transition($timing-function);
  } @else {
    transition-timing-function: $timing-function;
  }
}
