@use '../function' as *;
@use '../config' as *;

// Hide something from the screen but keep it visible for assistive technology
@mixin visually-hidden {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

// Crop text and display an ellipsis with multiline
@mixin text-ellipsis(
  $number-of-lines: 1
) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @supports (-webkit-line-clamp: $number-of-lines) {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $number-of-lines;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
  }
}

// Custom scrollbar
@mixin scrollbar(
  $thumb-background-color: color(thumb-background, scrollbar),
  $thumb-background-color-hover: color(thumb-background-hover, scrollbar),
  $track-background-color: color(track-background, scrollbar),
  $size: 0.5rem,
  $border-radius: $border-radius-sm
) {
  &::-webkit-scrollbar {
    height: $size;
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-background-color;
    border-radius: $border-radius;

    &:hover {
      background: $thumb-background-color-hover;
    }
  }

  &::-webkit-scrollbar-track {
    background: $track-background-color;
    border-radius: $border-radius;
  }
}

// Clear default button styles
@mixin clear-btn {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

// Clear list styles
@mixin clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// More accessible card linking
@mixin a11y-card-link($link, $at-root: false) {
  position: relative;

  @if $at-root == true {
    @at-root {
      #{$link}::before {
        content: '';
        inset: 0;
        position: absolute;
      }
    }
  } @else {
    #{$link}::before {
      content: '';
      inset: 0;
      position: absolute;
    }
  }
}

// Break long string
// @author Chris Coyier
// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
@mixin word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-all;
  word-break: break-word;

  hyphens: auto;
}
