@use 'sass:map';
@use 'display' as *;
@use 'typography' as *;
@use 'spacer' as *;

$btn-border-radius: $border-radius-sm !default;

$btn-font-family: null !default;
$btn-font-style: null !default;
$btn-font-weight: 500 !default;
$btn-font-size: $font-size-base !default;
$btn-font-size-sm: 0.8rem !default;
$btn-font-size-lg: 1.15rem !default;

$btn-shadow-width: 0.25rem !default;

$btn-padding: 0.75em 1em !default;
$btn-padding-sm: 0.5em !default;
$btn-padding-lg: 0.9em 1.15em !default;

$btn-gap: map.get($spacers, xs) !default;
$btn-gap-sm: map.get($spacers, xxs) !default;
$btn-gap-lg: map.get($spacers, xs) !default;

$btn-icon-padding: 0.75em !default;
$btn-icon-padding-sm: 0.5em !default;
$btn-icon-padding-lg: 0.9em !default;

$btn-icon-size-sm: 0.85em !default;
$btn-icon-size: 1em !default;

$btn-focus-ring-type: outline !default;
$btn-focus-ring-box-shadow-type: outside !default;
$btn-focus-ring-width: 2px !default;
$btn-focus-ring-offset: 2px !default;
