@use 'sass:color';
@use 'sass:map';

// Colors
$color-primary: hsl(261 52% 59%) !default;
$color-secondary: hsl(227 92% 55%) !default;

$color-black: hsl(205 100% 2%) !default;
$color-white: hsl(0 0% 100%) !default;

$color-gray-light: hsl(0 0% 90%) !default;
$color-gray: hsl(208 7% 30%) !default;

$color-danger: hsl(0 71% 51%) !default;
$color-success: hsl(150 100% 33%) !default;

$colors: () !default;
$colors: map.deep-merge(
  (
    base: (
      primary: $color-primary,
      secondary: $color-secondary,
      background: $color-white,
      heading: $color-black,
      text: $color-gray,
      link: $color-primary,
      link-hover: color.scale($color-primary, $lightness: -20%),
      border: $color-gray-light,
      mark-background: hsl(50 100% 80%),
      mark-foreground: $color-black,
      code-background: hsl(261 52% 95%),
      code-foreground: $color-black,
      blockquote-border: $color-primary
    ),
    selection: (
      foreground: $color-white,
      background: $color-primary
    ),
    alert: (
      danger: $color-danger,
      info: hsl(195 100% 42%),
      success: $color-success,
      warning: hsl(48 89% 55%)
    ),
    btn: (
      primary-background: $color-primary,
      primary-background-hover: color.adjust($color-primary, $lightness: -20%),
      primary-foreground: $color-white,
      primary-foreground-hover: $color-white,
      primary-shadow-focus: color.adjust($color-primary, $alpha: -0.75),
      secondary-background: $color-secondary,
      secondary-background-hover: color.adjust($color-secondary, $lightness: -20%),
      secondary-foreground: $color-white,
      secondary-foreground-hover: $color-white,
      secondary-shadow-focus: color.adjust($color-secondary, $alpha: -0.75)
    ),
    form: (
      background: $color-white,
      background-disabled: hsl(0 0% 95%),
      border: $color-gray-light,
      border-disabled: $color-gray-light,
      border-focus: $color-primary,
      shadow-focus: color.adjust($color-primary, $alpha: -0.75),
      check-foreground: $color-white,
      check-background: $color-primary,
      invalid: $color-danger,
      invalid-shadow: color.adjust($color-danger, $alpha: -0.75),
      label: $color-black,
      legend: $color-black,
      placeholder: hsl(208 7% 40%),
      text: $color-gray,
      select-foreground: $color-primary,
      valid: $color-success,
      valid-shadow: color.adjust($color-success, $alpha: -0.75)
    ),
    table: (
      border: $color-gray-light,
      caption: $color-gray,
      heading: $color-black,
      hover: hsl(0 0% 0% / 0.05),
      text: $color-gray,
      stripe: hsl(0 0% 0% / 0.025)
    ),
    scrollbar: (
      thumb-background: hsl(0 0% 0% / 0.15),
      thumb-background-hover:	hsl(0 0% 0% / 0.25),
      track-background:	hsl(0 0% 0% / 0.05)
    )
  ),
  $colors
);

$dark-colors: () !default;
$dark-colors: map.deep-merge(
  (),
  $dark-colors
);
