@use 'sass:map';
@use 'display' as *;
@use 'typography' as *;

$form-control: () !default;
$form-control: map.merge(
  (
    'font-size': $font-size-base,
    'font-weight': null,
    'line-height': 1.5,
    'padding': 0.5em 0.75em,
    'border-width': 1px,
    'border-radius': map.get($display, border-radius-sm),
    'focus-ring-type': box-shadow,
    'focus-ring-box-shadow-type': outside,
    'focus-ring-width': 0.25rem,
    'focus-ring-offset': 2px,
    'textarea-height': 6rem,
  ),
  $form-control
);

$form-control-lg: () !default;
$form-control-lg: map.merge(
  (
    'font-size': $font-size-lg,
    'padding': 0.65em 1em,
  ),
  $form-control-lg
);

$form-control-sm: () !default;
$form-control-sm: map.merge(
  (
    'font-size': $font-size-sm,
    'padding': 0.25em 0.5em,
  ),
  $form-control-sm
);

$form-control-color: () !default;
$form-control-color: map.merge(
  (
    'aspect-ratio': 1,
    'height': 100%,
    'padding': 0.5em,
    'width': 2.625rem,
  ),
  $form-control-color
);

$form-control-color-lg: () !default;
$form-control-color-lg: map.merge(
  (
    'aspect-ratio': 1,
    'height': 100%,
    'padding': 0.5em,
    'width': 3.204rem,
  ),
  $form-control-color-lg
);

$form-control-color-sm: () !default;
$form-control-color-sm: map.merge(
  (
    'aspect-ratio': 1,
    'height': 100%,
    'padding': 0.25em,
    'width': 1.925rem,
  ),
  $form-control-color-sm
);
