@use 'sass:map';

$settings: () !default;
$settings: map.merge(
  (
    color-fallback: false,
    html-smooth-scrolling: true,
    hyphens: true,
    optimal-responsive-font-size: '2vw + 1rem',
    optimal-spacer-size: '5vw',
    prefix: 'spruce',
    utilities: false,
    print: false
  ),
  $settings
);

// We use this value to prefix our CSS variables. The only difference to the default prefix value that we add the '-' suffix.
$internal-prefix: if(map.get($settings, prefix), map.get($settings, prefix) + '-', '');
