@use 'sass:map';

$spacer: 1rem !default;

$spacers: () !default;
$spacers: map.merge(
  (
    'xxs': $spacer * 0.25,
    'xs': $spacer * 0.5,
    's': $spacer,
    'm': $spacer * 1.5,
    'l': $spacer * 3,
    'xl': $spacer * 4.5,
    'xxl': $spacer * 7,
    'xxxl': $spacer * 10,
  ),
  $spacers
);
