@use 'sass:map';
@use 'sass:math';
@use 'display' as *;

// Typography
$font-size-ratio: 1.333 !default;

$font-size-base: 1rem !default;

$font-size-sm: 0.9rem !default;
$font-size-lg: 1.1rem !default;

$font-size-lead: math.pow($font-size-ratio, 1) * $font-size-base !default;

$font-sizes: () !default;
$font-sizes: map.merge(
  (
    h1: math.pow($font-size-ratio, 4) * $font-size-base,
    h2: math.pow($font-size-ratio, 3) * $font-size-base,
    h3: math.pow($font-size-ratio, 2) * $font-size-base,
    h4: math.pow($font-size-ratio, 1) * $font-size-base,
    h5: $font-size-base,
    h6: $font-size-base
  ),
  $font-sizes
);

$font-family-base: #{system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'} !default;
$font-family-heading: $font-family-base !default;
$font-family-cursive: #{SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace} !default;

$heading-font-weight: 700 !default;

$line-height-sm: 1.2 !default;
$line-height-md: 1.5 !default;
$line-height-lg: 1.8 !default;
$line-height-base: $line-height-lg !default;
$line-height-heading: calc(2px + 2ex + 2px) !default;

$inline-text-element-padding: 0.1em 0.3em !default;
$inline-text-element-border-radius: $border-radius-sm !default;
