@use 'sass:map';
@use 'sass:math';
@use 'display' as *;

$typography: () !default;
$typography: map.merge(
  (
    'family-base': #{eravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif},
    'family-cursive': #{ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace},
    'family-heading': #{Avenir, 'Avenir Next LT Pro', Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif},
    'inline-border-radius': map.get($display, border-radius-sm),
    'inline-padding': 0.1em 0.3em,
    'line-height-base': 1.8,
    'line-height-heading': calc(2px + 2ex + 2px),
    'line-height-lg': 1.8,
    'line-height-md': 1.5,
    'line-height-sm': 1.2,
    'size-base': 1rem,
    'size-lead': clamp(#{1.5rem, 2vw, 1.25rem}),
    'size-lg': 1.1rem,
    'size-ratio': 1.25,
    'size-sm': 0.9rem,
    'weight-base': null,
    'weight-heading': 700,
  ),
  $typography
);

$font-sizes: () !default;
$font-sizes: map.merge(
  (
    h1: math.pow(map.get($typography, 'size-ratio'), 4) * map.get($typography, 'size-base'),
    h2: math.pow(map.get($typography, 'size-ratio'), 3) * map.get($typography, 'size-base'),
    h3: math.pow(map.get($typography, 'size-ratio'), 2) * map.get($typography, 'size-base'),
    h4: math.pow(map.get($typography, 'size-ratio'), 1) * map.get($typography, 'size-base'),
    h5: map.get($typography, 'size-base'),
    h6: map.get($typography, 'size-base')
  ),
  $font-sizes
);
