@use 'sass:map';
@use '../config' as *;
@use '../function' as *;
@use '../mixin' as *;

@mixin generate-print {
  @if setting('print') == true {
    @media print {
      @page {
        margin: config('page-margin', $print);
      }

      #{config('hidden-elements', $print, false)} {
        display: none !important;
      }

      /* stylelint-disable-next-line selector-no-qualifying-type */
      a[href^='http']::after {
        content: ' (' attr(href) ')';
      }
    }
  }
}
