@use '../config' as *;
@use '../function' as *;
@use '../mixin' as *;

@mixin generate-print {
  @if setting(print) == true {
    @media print {
      @page {
        margin: $print-page-margin;
      }

      #{$print-hidden-elements} {
        display: none !important;
      }

      a[href^='http']::after {
        content: ' (' attr(href) ')';
      }
    }
  }
}
