section(class='section section--form')
  div(class='section__container')
    div(class='section__inner')
      h2(class='section__title') Buttons
      div(class='section__body')
        h3(class='section-subtitle') Variants
        div(class='form-group--grid')
          button(class='btn btn--primary') Send form
          button(class='btn btn--secondary') Send form
        h3(class='section-subtitle') Sizes
        div(class='form-group--grid')
          button(class='btn btn--primary btn--lg') Large button
          button(class='btn btn--primary') Generic button
          button(class='btn btn--primary btn--sm') Small button
        h3(class='section-subtitle') Disabled
        div(class='form-group--grid')
          button(class='btn btn--primary' disabled) Save
          button(class='btn btn--secondary' disabled) Save
        h3(class='section-subtitle') Custom button variant
        div(class='form-group--grid')
          button(class='btn btn--tertiary') Tertiary Button
