section(class='section section--color')
  div(class='section__container')
    div(class='section__inner')
      h2(class='section__title') Base Colors
      div(class='section__body')
        div(class='color-item color-item--base-primary')
          span(class='color-item__caption') primary
        div(class='color-item color-item--base-secondary')
          span(class='color-item__caption') secondary
        div(class='color-item color-item--base-background color-item--bordered')
          span(class='color-item__caption') background
        div(class='color-item color-item--base-heading color-item--bordered')
          span(class='color-item__caption') heading
        div(class='color-item color-item--base-text')
          span(class='color-item__caption') text
        div(class='color-item color-item--base-link')
          span(class='color-item__caption') link
        div(class='color-item color-item--base-link-hover')
          span(class='color-item__caption') link-hover
        div(class='color-item color-item--base-border')
          span(class='color-item__caption') border
        div(class='color-item color-item--base-mark-background')
          span(class='color-item__caption') mark-background
        div(class='color-item color-item--base-mark-color')
          span(class='color-item__caption') mark-color
        div(class='color-item color-item--base-code-background')
          span(class='color-item__caption') code-background
        div(class='color-item color-item--base-code-color')
          span(class='color-item__caption') code-color
        div(class='color-item color-item--base-blockquote-border')
          span(class='color-item__caption') blockquote-border
section(class='section section--color')
  div(class='section__container')
    div(class='section__inner')
      h2(class='section__title') Alert Colors
      div(class='section__body')
        div(class='color-item color-item--alert-success')
          span(class='color-item__caption') success
        div(class='color-item color-item--alert-info')
          span(class='color-item__caption') info
        div(class='color-item color-item--alert-warning')
          span(class='color-item__caption') warning
        div(class='color-item color-item--alert-danger')
          span(class='color-item__caption') danger
section(class='section section--color')
  div(class='section__container')
    div(class='section__inner')
      h2(class='section__title') Button Colors
      div(class='section__body')
        div(class='color-item color-item--btn-primary-background')
          span(class='color-item__caption') primary-background
        div(class='color-item color-item--btn-primary-background-hover')
          span(class='color-item__caption') primary-background-hover
        div(class='color-item color-item--btn-primary-foreground color-item--bordered')
          span(class='color-item__caption') primary-foreground
        div(class='color-item color-item--btn-secondary-background')
          span(class='color-item__caption') secondary-background
        div(class='color-item color-item--btn-secondary-background-hover')
          span(class='color-item__caption') secondary-background-hover
        div(class='color-item color-item--btn-secondary-foreground color-item--bordered')
          span(class='color-item__caption') secondary-foreground
section(class='section section--color')
  div(class='section__container')
    div(class='section__inner')
      h2(class='section__title') Form Colors
      div(class='section__body')
        div(class='color-item color-item--form-background color-item--bordered')
          span(class='color-item__caption') background
        div(class='color-item color-item--form-background-disabled')
          span(class='color-item__caption') background-disabled
        div(class='color-item color-item--form-border')
          span(class='color-item__caption') border
        div(class='color-item color-item--form-border-disabled')
          span(class='color-item__caption') border-disabled
        div(class='color-item color-item--form-border-focus')
          span(class='color-item__caption') border-focus
        div(class='color-item color-item--form-check-foreground color-item--bordered')
          span(class='color-item__caption') check-foreground
        div(class='color-item color-item--form-check-background')
          span(class='color-item__caption') check-background
        div(class='color-item color-item--form-label')
          span(class='color-item__caption') label
        div(class='color-item color-item--form-legend')
          span(class='color-item__caption') legend
        div(class='color-item color-item--form-placeholder')
          span(class='color-item__caption') placeholder
        div(class='color-item color-item--form-text')
          span(class='color-item__caption') text
        div(class='color-item color-item--form-select-foreground')
          span(class='color-item__caption') select-foreground
