@use 'sass:color';
@use 'sass:map';
@use 'setting' as *;
@use '../config' as *;

// Get color value from $colors Sass map
@function color(
  $key,
  $type: base,
  $only-color: false,
  $map: $colors
) {
  @if not map.has-key($map, $type, $key) {
    @error 'The #{$key} key name doesn\'t exist under #{$type} at the specified map (default: $colors).';
  }

  @if $only-color {
    @return map.get($map, $type, $key);
  }

  @if map.get($settings, color-fallback) {
    @return var(--#{$internal-prefix}#{$type}-color-#{$key}, #{map.get($map, $type, $key)});
  }

  @return var(--#{$internal-prefix}#{$type}-color-#{$key});
}

// Get a white or black color contrast for any color
@function color-contrast($color) {
  @if color.lightness($color) > 60% {
    @return hsl(0 100% 0%);
  } @else {
    @return hsl(0 0% 100%);
  }
}
