@use 'sass:map';
@use 'setting' as *;
@use '../config' as *;

@function config(
  $key,
  $name
) {
  $map: null;

  @if $name == 'display' {
    $map: $display;
  } @else if $name == 'btn' {
    $map: $btn;
  }

  @if not map.has-key($map, $key) {
    @error 'The #{$key} key name doesn\'t exist under #{$type} at the specified map.';
  }

  @if map.get($map, $key) == null {
    @return null;
  }

  @if map.get($settings, 'css-custom-properties') {
    @return var(--#{$internal-prefix}#{$key});
  }

  @return map.get($map, $key);
}
