@use 'sass:map';
@use '../config' as *;

// Get spacer value from $spacers Sass map
@function spacer($key) {
  @if not map.has-key($spacers, $key) {
    @error 'The #{$key} key name doesn\'t exist at the $spacers map.';
  }

  @return map.get($spacers, $key);
}

// Get value returned in a clamp from $spacers maps.
@function spacer-clamp(
  $min,
  $max,
  $optimal: map.get($settings, optimal-spacer-size)
) {
  @if map.has-key($spacers, $min) {
    $min: map.get($spacers, $min);
  }

  @if map.has-key($spacers, $max) {
    $max: map.get($spacers, $max);
  }

  @return clamp(#{$min}, #{$optimal}, #{$max});
}
