extends ../layout.pug

block variables
  -var title = 'Button';
  -var page = 'button';

block content
  h3(class='section-subtitle') Variants
  div(class='form-group--grid')
    button(class='btn btn--primary') Send form
    button(class='btn btn--secondary') Send form
  h3(class='section-subtitle') Sizes
  div(class='form-group--grid')
    button(class='btn btn--primary btn--lg') Large button
    button(class='btn btn--primary') Generic button
    button(class='btn btn--primary btn--sm') Small button
  h3(class='section-subtitle') Disabled
  div(class='form-group--grid')
    button(class='btn btn--primary' disabled) Save
    button(class='btn btn--secondary' disabled) Save
  h3(class='section-subtitle') Custom button
  div(class='form-group--grid')
    button(class='btn btn--custom') Custom button
    button(class='btn btn--tertiary') Tertiary button
  h3(class='section-subtitle') Clear Button
  div(class='form-group--grid')
    button(class='clear-btn') Remove button styles
  h3(class='section-subtitle') With Icons
  div(class='form-group--grid')
    button(class='btn btn--secondary btn--sm')
      svg(class='btn__icon' height='24px' viewBox='0 0 24 24' width='24px')
        path(d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z' style='fill: currentColor;')
      | Copy button
    button(class='btn btn--secondary')
      svg(class='btn__icon btn__icon--sm' height='24px' viewBox='0 0 24 24' width='24px')
        path(d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z' style='fill: currentColor;')
      | Copy button
    button(class='btn btn--secondary btn--lg')
      | Copy button
      svg(class='btn__icon' height='24px' viewBox='0 0 24 24' width='24px')
        path(d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z' style='fill: currentColor;')
  h3(class='section-subtitle') Icon Button
  div(class='form-group--grid')
    button(class='btn btn--secondary btn--icon btn--sm' aria-label="Copy Text")
      svg(class='btn__icon' height='24px' viewBox='0 0 24 24' width='24px')
        path(d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z' style='fill: currentColor;')
    button(class='btn btn--secondary btn--icon' aria-label="Copy Text")
      svg(class='btn__icon' height='24px' viewBox='0 0 24 24' width='24px')
        path(d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z' style='fill: currentColor;')
    button(class='btn btn--secondary btn--icon btn--lg' aria-label="Copy Text")
      svg(class='btn__icon' height='24px' viewBox='0 0 24 24' width='24px')
        path(d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z' style='fill: currentColor;')
