extends ../layout.pug

block variables
  -var title = 'Component';
  -var page = 'component';

block content
  div(class='alert alert--danger' role='alert') Hello, this is a danger type alert message
