extends ../layout.pug

block variables
  -var title = 'Form';
  -var page = 'form';

block content
  form
    fieldset
      legend Inputs
      div(class='form-group')
        label(for='email-address' class='form-label') Email address
        input(class='form-control' id='email-address' type='email')
      div(class='form-group')
        label(for='number' class='form-label') Number
        input(class='form-control' id='number' type='number')
      div(class='form-group')
        label(for='password' class='form-label') Password
        input(class='form-control' id='password' type='password')
      div(class='form-group')
        label(for='search' class='form-label') Search
        input(class='form-control' id='search' type='search')
      div(class='form-group')
        label(for='tel' class='form-label') Telephone number
        input(class='form-control' id='tel' type='tel')
      div(class='form-group')
        label(for='text' class='form-label') Text
        input(class='form-control' id='text' type='text')
      div(class='form-group')
        label(for='text-disabled' class='form-label') Text (Disabled)
        input(class='form-control' id='text-disabled' type='text' disabled)
      div(class='form-group')
        label(for='text-small' class='form-label') Text (Small)
        input(class='form-control form-control--sm' id='text-small' type='text')
      div(class='form-group')
        label(for='text-large' class='form-label') Text (Large)
        input(class='form-control form-control--lg' id='text-large' type='text')
      div(class='form-group')
        label(for='url' class='form-label') URL
        input(class='form-control' id='url' type='url')
      div(class='form-group')
        label(for='color' class='form-label') Color
        input(class='form-control' id='color' type='color' value='#6524d6')
      div(class='form-group')
        label(for='date' class='form-label') Date
        input(class='form-control' id='date' type='date')
      div(class='form-group')
        label(for='datetime' class='form-label') Date / Time
        input(class='form-control' id='datetime' type='datetime')
      div(class='form-group')
        label(for='datetime-local' class='form-label') Date / Time local
        input(class='form-control' id='datetime-local' type='datetime-local')
      div(class='form-group')
        label(for='month' class='form-label') Month
        input(class='form-control' id='month' type='month')
      div(class='form-group')
        label(for='week' class='form-label') Week
        input(class='form-control' id='week' type='week')
      div(class='form-group')
        label(for='time' class='form-label') Time
        input(class='form-control' id='time' type='time')
    fieldset
      legend Textarea
      div(class='form-group')
        label(for='textarea' class='form-label') Message
        textarea(class='form-control' id='textarea')
    fieldset
      legend File Inputs
      div(class='form-group')
        label(for='avatar-lg' class='form-label') Avatar (Large)
        input(class='form-file form-file--lg' type='file' id='avatar-lg' accept='image/png, image/jpeg')
      div(class='form-group')
        label(for='avatar' class='form-label') Avatar
        input(class='form-file form-file' type='file' id='avatar' accept='image/png, image/jpeg')
      div(class='form-group')
        label(for='files' class='form-label') Files
        input(class='form-file form-file--sm' type='file' id='files' multiple accept='image/png, image/jpeg')
    fieldset
      legend Range
      div(class='form-group')
        label(for='rating' class='form-label') Your Rating
        input(class='form-range form-range--lg' type='range' id='rating' min='-10' max='10')
    fieldset
      legend Selects
      div(class='form-group')
        label(for='front-end-frameworks-sm' class='form-label') Front-end Frameworks (Small)
        select(id='front-end-frameworks-sm' class='form-control form-control--sm')
          option(value='react') React
          option(value='vue') Vue
          option(value='svelte') Svelte
          option(value='ember') Ember
      div(class='form-group')
        label(for='front-end-frameworks' class='form-label') Front-end Frameworks
        select(id='front-end-frameworks' class='form-control')
          option(value='react') React
          option(value='vue') Vue
          option(value='svelte') Svelte
          option(value='ember') Ember
      div(class='form-group')
        label(for='front-end-frameworks-disabled' class='form-label') Front-end Frameworks
        select(id='front-end-frameworks-disabled' class='form-control' disabled)
          option(value='react') React
          option(value='vue') Vue
          option(value='svelte') Svelte
          option(value='ember') Ember
      div(class='form-group')
        label(for='front-end-frameworks-lg' class='form-label') Front-end Frameworks (Large)
        select(id='front-end-frameworks-lg' class='form-control form-control--lg')
          option(value='react') React
          option(value='vue') Vue
          option(value='svelte') Svelte
          option(value='ember') Ember
      div(class='form-group')
        label(for='front-end-frameworks-multiple' class='form-label') Front-end Frameworks (Mulitple)
        select(id='front-end-frameworks-multiple' class='form-control' multiple)
          option(value='react') React
          option(value='vue') Vue
          option(value='svelte') Svelte
          option(value='ember') Ember
    fieldset
      legend Radio (Vertical)
      div(class='form-group form-group--vertical-check')
        label(class='form-check')
          input(type='radio' class='form-check__control' value='react' name='radio-example-vertical')
          span(class='form-label form-check__label') React
        label(class='form-check')
          input(type='radio' class='form-check__control' value='vue' name='radio-example-vertical' disabled)
          span(class='form-label form-check__label') Vue
        label(class='form-check')
          input(type='radio' class='form-check__control' value='svelte' name='radio-example-vertical')
          span(class='form-label form-check__label') Svelte
        label(class='form-check')
          input(type='radio' class='form-check__control' value='ember' name='radio-example-vertical')
          span(class='form-label form-check__label') Ember
    fieldset
      legend Radio (Horizontal)
      div(class='form-group form-group--horizontal-check')
        label(class='form-check')
          input(type='radio' class='form-check__control' value='react' name='radio-example-horizontal')
          span(class='form-label form-check__label') React
        label(class='form-check')
          input(type='radio' class='form-check__control' value='vue' name='radio-example-horizontal')
          span(class='form-label form-check__label') Vue
        label(class='form-check')
          input(type='radio' class='form-check__control' value='svelte' name='radio-example-horizontal')
          span(class='form-label form-check__label') Svelte
        label(class='form-check')
          input(type='radio' class='form-check__control' value='ember' name='radio-example-horizontal')
          span(class='form-label form-check__label') Ember
    fieldset
      legend Checkbox
      div(class='form-group form-group--vertical-check')
        label(class='form-check')
          input(type='checkbox' class='form-check__control' value='react' name='checkbox-example')
          span(class='form-label form-check__label') React
        label(class='form-check')
          input(type='checkbox' class='form-check__control' value='vue' name='checkbox-example' disabled)
          span(class='form-label form-check__label') Vue
        label(class='form-check')
          input(type='checkbox' class='form-check__control' value='svelte' name='checkbox-example')
          span(class='form-label form-check__label') Svelte
        label(class='form-check')
          input(type='checkbox' class='form-check__control' value='ember' name='checkbox-example')
          span(class='form-label form-check__label') Ember
    fieldset
      legend Checkbox (Sizes)
      div(class='form-group form-group--vertical-check')
        label(class='form-check form-check--lg')
          input(type='checkbox' class='form-check__control' value='react' name='checkbox-example-sizes')
          span(class='form-label form-check__label') React
        label(class='form-check form-check--lg')
          input(type='checkbox' class='form-check__control' value='vue' name='checkbox-example-sizes')
          span(class='form-label form-check__label') Vue
      div(class='form-group form-group--vertical-check')
        label(class='form-check form-check--sm')
          input(type='checkbox' class='form-check__control' value='svelte' name='checkbox-example-sizes')
          span(class='form-label form-check__label') Svelte
        label(class='form-check form-check--sm')
          input(type='checkbox' class='form-check__control' value='ember' name='checkbox-example-sizes')
          span(class='form-label form-check__label') Ember
    fieldset
      legend Custom Checkbox
      div(class='form-group')
        span(class='wpcf7-form-control-wrap acceptance-784')
          span(class='wpcf7-form-control wpcf7-acceptance')
            span(class='wpcf7-list-item')
              label
                input(type='checkbox' name='acceptance-784' value='1' aria-invalid='false')
                span(class='wpcf7-list-item-label') I accept the #[a(href='#') privacy policy].
    fieldset
      legend Switches
      div(class='form-group form-group--vertical-check')
        label(class='form-switch form-switch--sm')
          span(class='form-label form-switch__label') Enable notifications
          input(type='checkbox' class='form-switch__control' value='true')
        label(class='form-switch')
          input(type='checkbox' class='form-switch__control' value='true')
          span(class='form-label form-switch__label') Enable notifications
        label(class='form-switch form-switch--lg form-switch--block')
          span(class='form-label form-switch__label') Enable notifications
          input(type='checkbox' class='form-switch__control' value='true')
        label(class='form-switch form-switch--lg form-switch--block')
          input(type='checkbox' class='form-switch__control' value='true' disabled)
          span(class='form-label form-switch__label') Enable notifications
    fieldset
      legend Form Group Row
      div(class='form-group--row')
        label(for='first-name-row' class='form-label') First Name
        input(class='form-control' id='first-name-row' type='text')
        span(class='form-description') Just a help text for presentation purpose
      div(class='form-group--row')
        label(for='front-end-frameworks-row' class='form-label') Front-end Frameworks
        select(id='front-end-frameworks-row' class='form-control')
          option(value='react') React
          option(value='vue') Vue
          option(value='svelte') Svelte
          option(value='ember') Ember
      div(class='form-group--row')
        div(id='row-radio-label' class='form-label') Radio (Horizontal)
        div(class='form-group form-group--horizontal-check')
          label(class='form-check')
            input(type='radio' class='form-check__control' value='react' name='radio-example-horizontal-row' aria-describedby='row-radio-label')
            span(class='form-label form-check__label') React
          label(class='form-check')
            input(type='radio' class='form-check__control' value='vue' name='radio-example-horizontal-row' aria-describedby='row-radio-label')
            span(class='form-label form-check__label') Vue
          label(class='form-check')
            input(type='radio' class='form-check__control' value='svelte' name='radio-example-horizontal-row' aria-describedby='row-radio-label')
            span(class='form-label form-check__label') Svelte
          label(class='form-check')
            input(type='radio' class='form-check__control' value='ember' name='radio-example-horizontal-row' aria-describedby='row-radio-label')
            span(class='form-label form-check__label') Ember
    fieldset
      legend Form Group Stacked
      div(class='form-group--stacked')
        input(class='form-control' type='text' aria-label='First Name')
        input(class='form-control' type='text' aria-label='Last Name')
      div(class='form-group--stacked')
        input(class='form-control' type='text' aria-label='First Name')
        input(class='form-control' type='text' aria-label='Last Name')
        button(class='btn btn--primary') Submit
    fieldset
      legend Validation
      div(class='form-row')
        div(class='form-group')
          label(for='street-address' class='form-label') Street Address
          input(id='street-address' class='form-control form-control--valid' type='text' placeholder='Your street address...')
          span(class='field-feedback field-feedback--valid') Looks fine
      div(class='form-row form-row--mixed')
        div(class='form-group')
          label(for='city' class='form-label') City
          input(id='city' class='form-control form-control--invalid' type='text')
          span(class='field-feedback field-feedback--invalid') Not that fine
        div(class='form-group')
          label(for='state' class='form-label') State
          input(id='state' class='form-control' type='text')
        div(class='form-group form-group--width-auto' style='--col-width: 8ch;')
          label(for='zip' class='form-label') Zip
          input(id='zip' class='form-control' type='text')
  script.
    var checkbox = document.getElementById('indeterminate');
    checkbox.indeterminate = true;
