extends ../layout.pug

block variables
  -var title = 'Function';
  -var page = 'function';

block content
  h2(class='section-title') spacer
  div(class='spacer-wrapper')
    div(class='spacer spacer--one')
      div
    div(class='spacer spacer--two')
      div
    div(class='spacer spacer--three')
      div
