extends ../layout.pug

block variables
  -var title = 'JS';
  -var page = 'js';

block content
  h3(class='section-title') Manage Cookies
  div(class='btn-group')
    button(class='btn btn--primary' data-cookie='set') Set
    button(class='btn btn--primary' data-cookie='get') Get
    button(class='btn btn--primary' data-cookie='isset') Isset
    button(class='btn btn--primary' data-cookie='remove') Remove

block scripts
  script(src='../../assets/js/cookie-test.js' type='module')
