:root[data-theme-mode=dark] {
  --spruce-btn-color-custom-background: white;
  --spruce-btn-color-custom-background-hover: #6e2648;
  --spruce-btn-color-custom-foreground: black;
  --spruce-btn-color-custom-foreground-hover: white;
  --spruce-btn-color-tertiary-background: #aa3160;
  --spruce-btn-color-tertiary-foreground: white;
  --spruce-btn-color-tertiary-shadow-focus: rgba(170, 49, 96, 0.25);
  --spruce-btn-color-primary-background: #8660cd;
  --spruce-btn-color-primary-background-hover: #543097;
  --spruce-btn-color-primary-foreground: white;
  --spruce-btn-color-primary-foreground-hover: white;
  --spruce-btn-color-primary-shadow-focus: rgba(134, 96, 205, 0.25);
  --spruce-btn-color-secondary-background: #2350f6;
  --spruce-btn-color-secondary-background-hover: #072bab;
  --spruce-btn-color-secondary-foreground: white;
  --spruce-btn-color-secondary-foreground-hover: white;
  --spruce-btn-color-secondary-shadow-focus: rgba(35, 80, 246, 0.25);
}

:root[data-theme-mode=dark] {
  --spruce-form-color-custom: red;
  --spruce-form-color-background: white;
  --spruce-form-color-background-disabled: #f2f2f2;
  --spruce-form-color-border: #e6e6e6;
  --spruce-form-color-border-disabled: #e6e6e6;
  --spruce-form-color-border-focus: #8660cd;
  --spruce-form-color-shadow-focus: rgba(134, 96, 205, 0.25);
  --spruce-form-color-check-foreground: white;
  --spruce-form-color-check-background: #8660cd;
  --spruce-form-color-invalid: #db2929;
  --spruce-form-color-invalid-shadow: rgba(219, 41, 41, 0.25);
  --spruce-form-color-label: #00060a;
  --spruce-form-color-legend: #00060a;
  --spruce-form-color-placeholder: #5f666d;
  --spruce-form-color-text: #474d52;
  --spruce-form-color-select-foreground: #8660cd;
  --spruce-form-color-valid: #00a854;
  --spruce-form-color-valid-shadow: rgba(0, 168, 84, 0.25);
}

:root[data-theme-mode=dark] {
  --spruce-header-color-background: #18002e;
  --spruce-header-color-foreground: white;
}

:root[data-theme-mode=dark] {
  --spruce-base-color-primary: #8660cd;
  --spruce-base-color-secondary: #2350f6;
  --spruce-base-color-background: white;
  --spruce-base-color-heading: #00060a;
  --spruce-base-color-text: #474d52;
  --spruce-base-color-link: #8660cd;
  --spruce-base-color-link-hover: #663ab7;
  --spruce-base-color-border: #e6e6e6;
  --spruce-base-color-mark-background: #ffee99;
  --spruce-base-color-mark-foreground: #00060a;
  --spruce-base-color-code-background: #f0ecf9;
  --spruce-base-color-code-foreground: #00060a;
  --spruce-base-color-blockquote-border: #8660cd;
}

:root[data-theme-mode=dark] {
  --spruce-selection-color-foreground: white;
  --spruce-selection-color-background: #8660cd;
}

:root[data-theme-mode=dark] {
  --spruce-alert-color-danger: #db2929;
  --spruce-alert-color-info: #00a1d6;
  --spruce-alert-color-success: #00a854;
  --spruce-alert-color-warning: #f2ca26;
}

:root[data-theme-mode=dark] {
  --spruce-table-color-border: #e6e6e6;
  --spruce-table-color-caption: #474d52;
  --spruce-table-color-heading: #00060a;
  --spruce-table-color-hover: rgba(0, 0, 0, 0.05);
  --spruce-table-color-text: #474d52;
  --spruce-table-color-stripe: rgba(0, 0, 0, 0.025);
}

html[data-theme-mode=dark] select:not([multiple]):not([size]) {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3e%3cpath d="M12,12.692l-5.203,-5.203c-0.234,-0.234 -0.614,-0.234 -0.849,0l-1.272,1.273c-0.235,0.234 -0.235,0.614 -0,0.849l6.9,6.9c0.234,0.234 0.614,0.234 0.848,-0l6.9,-6.9c0.235,-0.235 0.235,-0.615 0,-0.849l-1.272,-1.273c-0.235,-0.234 -0.615,-0.234 -0.849,0l-5.203,5.203Z" style="fill:%232350f6;"/%3e%3c/svg%3e');
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
  ========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
  ========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
  ========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
  ========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
  ========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
  ========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
  ========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
  ========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

:root {
  --spruce-btn-color-custom-background: white;
  --spruce-btn-color-custom-background-hover: #6e2648;
  --spruce-btn-color-custom-foreground: black;
  --spruce-btn-color-custom-foreground-hover: white;
  --spruce-btn-color-tertiary-background: #aa3160;
  --spruce-btn-color-tertiary-foreground: white;
  --spruce-btn-color-tertiary-shadow-focus: rgba(170, 49, 96, 0.25);
  --spruce-btn-color-primary-background: #8660cd;
  --spruce-btn-color-primary-background-hover: #543097;
  --spruce-btn-color-primary-foreground: white;
  --spruce-btn-color-primary-foreground-hover: white;
  --spruce-btn-color-primary-shadow-focus: rgba(134, 96, 205, 0.25);
  --spruce-btn-color-secondary-background: #2350f6;
  --spruce-btn-color-secondary-background-hover: #072bab;
  --spruce-btn-color-secondary-foreground: white;
  --spruce-btn-color-secondary-foreground-hover: white;
  --spruce-btn-color-secondary-shadow-focus: rgba(35, 80, 246, 0.25);
}

:root {
  --spruce-form-color-custom: red;
  --spruce-form-color-background: white;
  --spruce-form-color-background-disabled: #f2f2f2;
  --spruce-form-color-border: #e6e6e6;
  --spruce-form-color-border-disabled: #e6e6e6;
  --spruce-form-color-border-focus: #8660cd;
  --spruce-form-color-shadow-focus: rgba(134, 96, 205, 0.25);
  --spruce-form-color-check-foreground: white;
  --spruce-form-color-check-background: #8660cd;
  --spruce-form-color-invalid: #db2929;
  --spruce-form-color-invalid-shadow: rgba(219, 41, 41, 0.25);
  --spruce-form-color-label: #00060a;
  --spruce-form-color-legend: #00060a;
  --spruce-form-color-placeholder: #5f666d;
  --spruce-form-color-text: #474d52;
  --spruce-form-color-select-foreground: #8660cd;
  --spruce-form-color-valid: #00a854;
  --spruce-form-color-valid-shadow: rgba(0, 168, 84, 0.25);
}

:root {
  --spruce-header-color-background: #18002e;
  --spruce-header-color-foreground: white;
}

:root {
  --spruce-base-color-primary: #8660cd;
  --spruce-base-color-secondary: #2350f6;
  --spruce-base-color-background: white;
  --spruce-base-color-heading: #00060a;
  --spruce-base-color-text: #474d52;
  --spruce-base-color-link: #8660cd;
  --spruce-base-color-link-hover: #663ab7;
  --spruce-base-color-border: #e6e6e6;
  --spruce-base-color-mark-background: #ffee99;
  --spruce-base-color-mark-foreground: #00060a;
  --spruce-base-color-code-background: #f0ecf9;
  --spruce-base-color-code-foreground: #00060a;
  --spruce-base-color-blockquote-border: #8660cd;
}

:root {
  --spruce-selection-color-foreground: white;
  --spruce-selection-color-background: #8660cd;
}

:root {
  --spruce-alert-color-danger: #db2929;
  --spruce-alert-color-info: #00a1d6;
  --spruce-alert-color-success: #00a854;
  --spruce-alert-color-warning: #f2ca26;
}

:root {
  --spruce-table-color-border: #e6e6e6;
  --spruce-table-color-caption: #474d52;
  --spruce-table-color-heading: #00060a;
  --spruce-table-color-hover: rgba(0, 0, 0, 0.05);
  --spruce-table-color-text: #474d52;
  --spruce-table-color-stripe: rgba(0, 0, 0, 0.025);
}

:root {
  --spruce-transition-duration: 0.15s;
  --spruce-transition-timing-function: ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  :root {
    --spruce-transition-duration: 0;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

::selection {
  background-color: var(--spruce-selection-color-background, #8660cd);
  color: var(--spruce-selection-color-foreground, white);
  text-shadow: none;
}

html {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background: var(--spruce-base-color-background, white);
  color: var(--spruce-base-color-text, #474d52);
}

a {
  color: var(--spruce-base-color-link, #8660cd);
  text-decoration: underline;
  transition: color var(--spruce-transition-duration) var(--spruce-transition-timing-function);
}
a:hover {
  color: var(--spruce-base-color-link-hover, #663ab7);
}

button {
  color: inherit;
}

a,
button {
  touch-action: manipulation;
}

hr {
  border: 0;
  border-top: 1px solid var(--spruce-base-color-border, #e6e6e6);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  user-select: none;
}

iframe {
  height: 100%;
  width: 100%;
}

figure {
  margin-left: 0;
  margin-right: 0;
}
figure figcaption {
  margin-top: 0.5rem;
  text-align: center;
}

.aspect-ratio-16-9 {
  aspect-ratio: 16/9;
}

.aspect-ratio-4-3 {
  aspect-ratio: 4/3;
}

.aspect-ratio-1-1 {
  aspect-ratio: 1/1;
}

.table-responsive {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
.table-responsive table {
  min-width: 40rem;
}

.table {
  border-collapse: collapse;
  color: var(--spruce-table-color-text, #474d52);
  width: 100%;
}
.table caption {
  color: var(--spruce-table-color-caption, #474d52);
  margin-bottom: 1rem;
}
.table th,
.table td {
  border-bottom: 1px solid var(--spruce-table-color-border, #e6e6e6);
  line-height: 1.5;
  padding: 1rem;
}
.table th {
  color: var(--spruce-table-color-heading, #00060a);
  text-align: inherit;
  text-align: -webkit-match-parent;
}
.table--striped > tbody > tr:nth-child(even) {
  background-color: var(--spruce-table-color-stripe, rgba(0, 0, 0, 0.025));
}
.table--hover > tbody > tr:hover {
  background: var(--spruce-table-color-hover, rgba(0, 0, 0, 0.05));
}
.table--clear-border th,
.table--clear-border td {
  border: 0;
}
.table--sm th,
.table--sm td {
  padding: 0.25rem 0.5rem;
}
.table--rounded th:first-child,
.table--rounded td:first-child {
  border-start-start-radius: 0.5rem;
  border-end-start-radius: 0.5rem;
}
.table--rounded th:last-child,
.table--rounded td:last-child {
  border-start-end-radius: 0.5rem;
  border-end-end-radius: 0.5rem;
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  line-height: 1.8;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: auto;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--spruce-base-color-heading, #00060a);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 700;
  line-height: calc(2px + 2ex + 2px);
}

h1,
.h1 {
  font-size: clamp(2.6837343406rem, 2vw + 1rem, 3.1573345183rem);
}

h2,
.h2 {
  font-size: clamp(2.0133040815rem, 2vw + 1rem, 2.368593037rem);
}

h3,
.h3 {
  font-size: clamp(1.51035565rem, 2vw + 1rem, 1.776889rem);
}

h4,
.h4 {
  font-size: clamp(1.13305rem, 2vw + 1rem, 1.333rem);
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 1rem;
}

ul,
ol {
  list-style-position: inside;
}
ul > *,
ol > * {
  margin-block-end: 0;
  margin-block-start: 0;
}
ul > * + *,
ol > * + * {
  margin-block-start: 0.25rem;
}
ul li,
ol li {
  list-style-position: outside;
}
ul li::marker,
ol li::marker {
  color: var(--spruce-base-color-primary, #8660cd);
}

li > ul,
li > ol {
  margin-top: 0.25rem;
}

dl dt {
  color: var(--spruce-base-color-heading, #00060a);
  font-weight: bold;
}
dl dd {
  margin: 0;
}
dl dd + dt {
  margin-top: 1rem;
}

blockquote {
  border-left: 0.5rem solid var(--spruce-base-color-blockquote-border, #8660cd);
  margin-left: 0;
  padding: 0 0 0 1.5rem;
}
blockquote > * {
  margin-block-end: 0;
  margin-block-start: 0;
  width: 100%;
}
blockquote > * + * {
  margin-block-start: 0.5rem;
}
blockquote cite {
  display: block;
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}

mark {
  background-color: var(--spruce-base-color-mark-background, #ffee99);
  border-radius: 0.25rem;
  color: var(--spruce-base-color-mark-foreground, #00060a);
  padding: 0.1em 0.3em;
}

code,
kbd,
samp {
  background-color: var(--spruce-base-color-code-background, #f0ecf9);
  border-radius: 0.25rem;
  color: var(--spruce-base-color-code-foreground, #00060a);
  padding: 0.1em 0.3em;
}

.lead {
  font-size: 1.333rem;
}

.hidden {
  display: none !important;
}

.btn {
  align-items: center;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  gap: 0.5rem;
  justify-content: center;
  line-height: 1;
  padding: 0.75em 1em;
  text-align: start;
  text-decoration: none;
  transition: all var(--spruce-transition-duration) var(--spruce-transition-timing-function);
}
.btn:focus {
  outline-color: transparent;
  outline-style: solid;
}
.btn:disabled, .btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.btn--icon {
  padding: 0.75em;
}
.btn--icon.btn--sm {
  padding: 0.5em;
}
.btn--icon.btn--lg {
  padding: 0.9em;
}
.btn--sm {
  font-size: 0.8rem;
  padding: 0.5em;
}
.btn--lg {
  padding: 0.9em 1.15em;
}
@media (min-width: 64em) {
  .btn--lg {
    font-size: 1.15rem;
  }
}
.btn--block {
  width: 100%;
}
.btn__icon {
  flex-shrink: 0;
  height: 1em;
  width: 1em;
}
.btn__icon--sm {
  height: 0.85em;
  width: 0.85em;
}

.btn--primary {
  background-color: var(--spruce-btn-color-primary-background, #8660cd);
  color: var(--spruce-btn-color-primary-foreground, white);
}
.btn--primary:hover {
  background-color: var(--spruce-btn-color-primary-background-hover, #543097);
  color: var(--spruce-btn-color-primary-foreground-hover, white);
}
.btn--primary:focus {
  box-shadow: 0 0 0 0.25rem var(--spruce-btn-color-primary-shadow-focus, rgba(134, 96, 205, 0.25));
  outline: 2px solid transparent;
}

.btn--secondary {
  background-color: var(--spruce-btn-color-secondary-background, #2350f6);
  color: var(--spruce-btn-color-secondary-foreground, white);
}
.btn--secondary:hover {
  background-color: var(--spruce-btn-color-secondary-background-hover, #072bab);
  color: var(--spruce-btn-color-secondary-foreground-hover, white);
}
.btn--secondary:focus {
  box-shadow: 0 0 0 0.25rem var(--spruce-btn-color-secondary-shadow-focus, rgba(35, 80, 246, 0.25));
  outline: 2px solid transparent;
}

.form-check {
  align-items: center;
  display: inline-flex;
}

.form-check--sm .form-check__control {
  font-size: 0.9rem;
}

.form-check--lg .form-check__control {
  font-size: 1.35rem;
}

.form-check__control {
  appearance: none;
  background-color: var(--spruce-form-color-background, white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid var(--spruce-form-color-border, #e6e6e6);
  flex-shrink: 0;
  font-size: 1rem;
  height: 1em;
  line-height: 1;
  margin-bottom: -0.1em;
  margin-inline-end: 0.5rem;
  transition: all var(--spruce-transition-duration) var(--spruce-transition-timing-function);
  width: 1em;
}
.form-check__control[type=radio] {
  border-radius: 50%;
}
.form-check__control[type=checkbox] {
  border-radius: 0.25rem;
}
.form-check__control:focus {
  border-color: var(--spruce-form-color-border-focus, #8660cd);
  box-shadow: 0 0 0 0.25rem var(--spruce-form-color-shadow-focus, rgba(134, 96, 205, 0.25));
  outline: 2px solid transparent;
}
.form-check__control:checked {
  background-color: var(--spruce-form-color-check-background, #8660cd);
  border-color: var(--spruce-form-color-check-background, #8660cd);
}
.form-check__control:checked[type=radio] {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3e%3ccircle cx="12" cy="12" r="6" style="fill:white;"/%3e%3c/svg%3e');
}
.form-check__control:checked[type=checkbox] {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3e%3cpath d="M9.525,13.777l-2.411,-2.412c-0.234,-0.233 -0.613,-0.233 -0.846,0l-1.27,1.27c-0.233,0.233 -0.233,0.612 0,0.846l4.104,4.103c0.116,0.117 0.269,0.175 0.422,0.175l0.003,0c0.152,0 0.305,-0.058 0.421,-0.175l9.054,-9.053c0.233,-0.234 0.233,-0.613 -0,-0.846l-1.27,-1.269c-0.233,-0.234 -0.612,-0.234 -0.846,-0l-7.361,7.361Z" style="fill:white;"/%3e%3c/svg%3e');
}
.form-check__control:indeterminate[type=checkbox] {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"%3e%3cpath d="M19.5,11.1c-0,-0.331 -0.269,-0.6 -0.6,-0.6l-13.8,0c-0.331,0 -0.6,0.269 -0.6,0.6l0,1.8c0,0.331 0.269,0.6 0.6,0.6l13.8,0c0.331,0 0.6,-0.269 0.6,-0.6l-0,-1.8Z" style="fill:white;"/%3e%3c/svg%3e');
  background-color: var(--spruce-form-color-check-background, #8660cd);
  border-color: var(--spruce-form-color-check-background, #8660cd);
}
.form-check__control:disabled {
  background-color: var(--spruce-form-color-background-disabled, #f2f2f2);
  border-color: var(--spruce-form-color-border-disabled, #e6e6e6);
  cursor: not-allowed;
}
.form-check__control:disabled + .form-check__label {
  opacity: 0.5;
}

.form-check__label {
  line-height: calc(2px + 2ex + 2px);
}

.form-control {
  appearance: none;
  background-color: var(--spruce-form-color-background, white);
  border: 1px solid var(--spruce-form-color-border, #e6e6e6);
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: var(--spruce-form-color-text, #474d52);
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5em 0.75em;
  transition: all var(--spruce-transition-duration) var(--spruce-transition-timing-function);
  width: 100%;
}
.form-control::placeholder {
  color: var(--spruce-form-color-placeholder, #5f666d);
}
.form-control:focus {
  border-color: var(--spruce-form-color-border-focus, #8660cd);
  box-shadow: 0 0 0 0.25rem var(--spruce-form-color-shadow-focus, rgba(134, 96, 205, 0.25));
  outline: 2px solid transparent;
}
.form-control[disabled], .form-control[disabled=true] {
  background-color: var(--spruce-form-color-background-disabled, #f2f2f2);
  border-color: var(--spruce-form-color-border-disabled, #e6e6e6);
  cursor: not-allowed;
}
.form-control--valid, .form-control--invalid {
  background-position: center right 0.5em;
  background-repeat: no-repeat;
  background-size: 1.25em auto;
  padding-inline-end: 2em;
}
html[dir=rtl] .form-control--valid, html[dir=rtl] .form-control--invalid {
  background-position: center left 0.5em;
}
.form-control--valid {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"%3e%3cpath d="M12,2c5.519,0 10,4.481 10,10c0,5.519 -4.481,10 -10,10c-5.519,0 -10,-4.481 -10,-10c0,-5.519 4.481,-10 10,-10Zm0,1.667c4.599,-0 8.333,3.734 8.333,8.333c0,4.599 -3.734,8.333 -8.333,8.333c-4.599,0 -8.333,-3.734 -8.333,-8.333c-0,-4.599 3.734,-8.333 8.333,-8.333Zm-1.476,10.182l-2.984,-2.984c-0.065,-0.065 -0.17,-0.065 -0.235,0l-0.943,0.943c-0.065,0.065 -0.065,0.171 -0,0.236l4.043,4.042c0.033,0.033 0.076,0.05 0.119,0.049c0.044,0.001 0.087,-0.016 0.12,-0.049l6.994,-6.994c0.065,-0.065 0.065,-0.17 0,-0.235l-0.943,-0.943c-0.065,-0.065 -0.17,-0.065 -0.235,-0l-5.936,5.935Z" style="fill:%2300a854;"/%3e%3c/svg%3e');
  border-color: var(--spruce-alert-color-success, #00a854);
}
.form-control--valid:focus {
  border-color: var(--spruce-form-color-valid, #00a854);
  box-shadow: 0 0 0 0.25rem var(--spruce-form-color-valid-shadow, rgba(0, 168, 84, 0.25));
  outline: 2px solid transparent;
}
.form-control--invalid {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"%3e%3cpath d="M12,2c5.519,0 10,4.481 10,10c0,5.519 -4.481,10 -10,10c-5.519,0 -10,-4.481 -10,-10c0,-5.519 4.481,-10 10,-10Zm0,1.667c4.599,-0 8.333,3.734 8.333,8.333c0,4.599 -3.734,8.333 -8.333,8.333c-4.599,0 -8.333,-3.734 -8.333,-8.333c-0,-4.599 3.734,-8.333 8.333,-8.333Zm0.813,11.649c-0,-0.081 -0.065,-0.146 -0.146,-0.146l-1.334,0c-0.081,0 -0.146,0.065 -0.146,0.146l0,1.169c0,0.08 0.065,0.146 0.146,0.146l1.334,-0c0.081,-0 0.146,-0.066 0.146,-0.146l-0,-1.169Zm-0,-7.784c-0,-0.09 -0.073,-0.163 -0.163,-0.163l-1.3,0c-0.09,0 -0.163,0.073 -0.163,0.163l0,6.351c0,0.09 0.073,0.163 0.163,0.163l1.3,-0c0.09,-0 0.163,-0.073 0.163,-0.163l-0,-6.351Z" style="fill:%23db2929;"/%3e%3c/svg%3e');
  border-color: var(--spruce-alert-color-danger, #db2929);
}
.form-control--invalid:focus {
  border-color: var(--spruce-form-color-invalid, #db2929);
  box-shadow: 0 0 0 0.25rem var(--spruce-form-color-invalid-shadow, rgba(219, 41, 41, 0.25));
  outline: 2px solid transparent;
}
.form-control--sm {
  font-size: 0.9rem;
  padding: 0.25em 0.5em;
}
.form-control--lg {
  font-size: 1.1rem;
  padding: 0.75em 1em;
}

.form-description {
  color: var(--spruce-form-color-text, #474d52);
  display: block;
  font-size: 1rem;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
fieldset > * {
  margin-block-end: 0;
  margin-block-start: 0;
  width: 100%;
}
fieldset > * + * {
  margin-block-start: 1rem;
}
fieldset + fieldset {
  margin-top: 3rem;
}

legend {
  color: var(--spruce-form-color-legend, #00060a);
  font-size: clamp(1rem, 5vw, 1.333rem);
  font-weight: 700;
}

.form-group > * {
  margin-block-end: 0;
  margin-block-start: 0;
}
.form-group > * + * {
  margin-block-start: 0.25rem;
}
.form-group--vertical-check {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.form-group--vertical-check > * {
  margin-block-end: 0;
  margin-block-start: 0;
}
.form-group--vertical-check > * + * {
  margin-block-start: 0.5rem;
}
.form-group--grid {
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.form-label {
  color: var(--spruce-form-color-label, #00060a);
}
.form-label--sm {
  font-size: 0.9rem;
}
.form-label--lg {
  font-size: 1.1rem;
}

.form-row--mixed {
  --col-width: 20ch;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.form-row--mixed > * {
  flex: 1 1 var(--col-width);
}

select.form-control:not([multiple]):not([size]) {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3e%3cpath d="M12,12.692l-5.203,-5.203c-0.234,-0.234 -0.614,-0.234 -0.849,0l-1.272,1.273c-0.235,0.234 -0.235,0.614 -0,0.849l6.9,6.9c0.234,0.234 0.614,0.234 0.848,-0l6.9,-6.9c0.235,-0.235 0.235,-0.615 0,-0.849l-1.272,-1.273c-0.235,-0.234 -0.615,-0.234 -0.849,0l-5.203,5.203Z" style="fill:%238660cd;"/%3e%3c/svg%3e');
  background-position: center right 0.5em;
  background-repeat: no-repeat;
  background-size: 1.25em auto;
  padding-inline-end: 2em;
}
html[dir=rtl] select.form-control:not([multiple]):not([size]) {
  background-position: center left 0.5em;
}

.field-feedback {
  display: block;
}
.field-feedback--valid {
  color: var(--spruce-alert-color-success, #00a854);
}
.field-feedback--invalid {
  color: var(--spruce-alert-color-danger, #db2929);
}

.site-main {
  padding-block: clamp(3rem, 5vw, 4.5rem);
}
.site-main__container {
  margin-inline: auto;
  max-width: 80rem;
  padding-inline: 1.5rem;
}
.site-main__inner {
  display: grid;
  gap: 3rem;
  grid-template-columns: minmax(0, 1fr);
}
@media (min-width: 48em) {
  .site-main__inner {
    grid-template-columns: minmax(0, 12rem) minmax(0, 3.5fr);
  }
}
.site-main__body {
  display: grid;
  column-gap: 3rem;
  grid-auto-rows: min-content;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 1.5rem;
  order: -1;
}
@media (min-width: 48em) {
  .site-main__body {
    order: 2;
  }
}
@media (min-width: 80em) {
  .site-main__body {
    grid-template-columns: minmax(0, 3.5fr) minmax(0, 15rem);
  }
}
.site-main__content {
  margin-inline: auto;
  max-width: 100%;
  width: 85ch;
}
.site-main__content > * {
  margin-block-end: 0;
  margin-block-start: 0;
  width: 100%;
}
.site-main__content > * + * {
  margin-block-start: 1rem;
}

.color-items {
  display: grid;
  grid-gap: 1.5rem;
}
@supports (width: min(15rem, 100%)) {
  .color-items {
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  }
}

.color-item {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}
.color-item--bordered .color-item__color {
  box-shadow: 0 0 0 1px var(--spruce-base-color-border, #e6e6e6) inset;
}
.color-item__color {
  border-radius: 25px;
  height: 50px;
  width: 50px;
}
.color-item__caption {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.color-item--base-primary .color-item__color {
  background-color: var(--spruce-base-color-primary, #8660cd);
}

.color-item--base-secondary .color-item__color {
  background-color: var(--spruce-base-color-secondary, #2350f6);
}

.color-item--base-background .color-item__color {
  background-color: var(--spruce-base-color-background, white);
}

.color-item--base-heading .color-item__color {
  background-color: var(--spruce-base-color-heading, #00060a);
}

.color-item--base-text .color-item__color {
  background-color: var(--spruce-base-color-text, #474d52);
}

.color-item--base-link .color-item__color {
  background-color: var(--spruce-base-color-link, #8660cd);
}

.color-item--base-link-hover .color-item__color {
  background-color: var(--spruce-base-color-link-hover, #663ab7);
}

.color-item--base-border .color-item__color {
  background-color: var(--spruce-base-color-border, #e6e6e6);
}

.color-item--base-mark-background .color-item__color {
  background-color: var(--spruce-base-color-mark-background, #ffee99);
}

.color-item--base-mark-foreground .color-item__color {
  background-color: var(--spruce-base-color-mark-foreground, #00060a);
}

.color-item--base-code-background .color-item__color {
  background-color: var(--spruce-base-color-code-background, #f0ecf9);
}

.color-item--base-code-foreground .color-item__color {
  background-color: var(--spruce-base-color-code-foreground, #00060a);
}

.color-item--base-blockquote-border .color-item__color {
  background-color: var(--spruce-base-color-blockquote-border, #8660cd);
}

.color-item--selection-foreground .color-item__color {
  background-color: var(--spruce-selection-color-foreground, white);
}

.color-item--selection-background .color-item__color {
  background-color: var(--spruce-selection-color-background, #8660cd);
}

.color-item--alert-danger .color-item__color {
  background-color: var(--spruce-alert-color-danger, #db2929);
}

.color-item--alert-info .color-item__color {
  background-color: var(--spruce-alert-color-info, #00a1d6);
}

.color-item--alert-success .color-item__color {
  background-color: var(--spruce-alert-color-success, #00a854);
}

.color-item--alert-warning .color-item__color {
  background-color: var(--spruce-alert-color-warning, #f2ca26);
}

.color-item--btn-custom-background .color-item__color {
  background-color: var(--spruce-btn-color-custom-background, white);
}

.color-item--btn-custom-background-hover .color-item__color {
  background-color: var(--spruce-btn-color-custom-background-hover, #6e2648);
}

.color-item--btn-custom-foreground .color-item__color {
  background-color: var(--spruce-btn-color-custom-foreground, black);
}

.color-item--btn-custom-foreground-hover .color-item__color {
  background-color: var(--spruce-btn-color-custom-foreground-hover, white);
}

.color-item--btn-tertiary-background .color-item__color {
  background-color: var(--spruce-btn-color-tertiary-background, #aa3160);
}

.color-item--btn-tertiary-foreground .color-item__color {
  background-color: var(--spruce-btn-color-tertiary-foreground, white);
}

.color-item--btn-tertiary-shadow-focus .color-item__color {
  background-color: var(--spruce-btn-color-tertiary-shadow-focus, rgba(170, 49, 96, 0.25));
}

.color-item--btn-primary-background .color-item__color {
  background-color: var(--spruce-btn-color-primary-background, #8660cd);
}

.color-item--btn-primary-background-hover .color-item__color {
  background-color: var(--spruce-btn-color-primary-background-hover, #543097);
}

.color-item--btn-primary-foreground .color-item__color {
  background-color: var(--spruce-btn-color-primary-foreground, white);
}

.color-item--btn-primary-foreground-hover .color-item__color {
  background-color: var(--spruce-btn-color-primary-foreground-hover, white);
}

.color-item--btn-primary-shadow-focus .color-item__color {
  background-color: var(--spruce-btn-color-primary-shadow-focus, rgba(134, 96, 205, 0.25));
}

.color-item--btn-secondary-background .color-item__color {
  background-color: var(--spruce-btn-color-secondary-background, #2350f6);
}

.color-item--btn-secondary-background-hover .color-item__color {
  background-color: var(--spruce-btn-color-secondary-background-hover, #072bab);
}

.color-item--btn-secondary-foreground .color-item__color {
  background-color: var(--spruce-btn-color-secondary-foreground, white);
}

.color-item--btn-secondary-foreground-hover .color-item__color {
  background-color: var(--spruce-btn-color-secondary-foreground-hover, white);
}

.color-item--btn-secondary-shadow-focus .color-item__color {
  background-color: var(--spruce-btn-color-secondary-shadow-focus, rgba(35, 80, 246, 0.25));
}

.color-item--form-custom .color-item__color {
  background-color: var(--spruce-form-color-custom, red);
}

.color-item--form-background .color-item__color {
  background-color: var(--spruce-form-color-background, white);
}

.color-item--form-background-disabled .color-item__color {
  background-color: var(--spruce-form-color-background-disabled, #f2f2f2);
}

.color-item--form-border .color-item__color {
  background-color: var(--spruce-form-color-border, #e6e6e6);
}

.color-item--form-border-disabled .color-item__color {
  background-color: var(--spruce-form-color-border-disabled, #e6e6e6);
}

.color-item--form-border-focus .color-item__color {
  background-color: var(--spruce-form-color-border-focus, #8660cd);
}

.color-item--form-shadow-focus .color-item__color {
  background-color: var(--spruce-form-color-shadow-focus, rgba(134, 96, 205, 0.25));
}

.color-item--form-check-foreground .color-item__color {
  background-color: var(--spruce-form-color-check-foreground, white);
}

.color-item--form-check-background .color-item__color {
  background-color: var(--spruce-form-color-check-background, #8660cd);
}

.color-item--form-invalid .color-item__color {
  background-color: var(--spruce-form-color-invalid, #db2929);
}

.color-item--form-invalid-shadow .color-item__color {
  background-color: var(--spruce-form-color-invalid-shadow, rgba(219, 41, 41, 0.25));
}

.color-item--form-label .color-item__color {
  background-color: var(--spruce-form-color-label, #00060a);
}

.color-item--form-legend .color-item__color {
  background-color: var(--spruce-form-color-legend, #00060a);
}

.color-item--form-placeholder .color-item__color {
  background-color: var(--spruce-form-color-placeholder, #5f666d);
}

.color-item--form-text .color-item__color {
  background-color: var(--spruce-form-color-text, #474d52);
}

.color-item--form-select-foreground .color-item__color {
  background-color: var(--spruce-form-color-select-foreground, #8660cd);
}

.color-item--form-valid .color-item__color {
  background-color: var(--spruce-form-color-valid, #00a854);
}

.color-item--form-valid-shadow .color-item__color {
  background-color: var(--spruce-form-color-valid-shadow, rgba(0, 168, 84, 0.25));
}

.color-item--table-border .color-item__color {
  background-color: var(--spruce-table-color-border, #e6e6e6);
}

.color-item--table-caption .color-item__color {
  background-color: var(--spruce-table-color-caption, #474d52);
}

.color-item--table-heading .color-item__color {
  background-color: var(--spruce-table-color-heading, #00060a);
}

.color-item--table-hover .color-item__color {
  background-color: var(--spruce-table-color-hover, rgba(0, 0, 0, 0.05));
}

.color-item--table-text .color-item__color {
  background-color: var(--spruce-table-color-text, #474d52);
}

.color-item--table-stripe .color-item__color {
  background-color: var(--spruce-table-color-stripe, rgba(0, 0, 0, 0.025));
}

.site-header {
  background-color: var(--spruce-header-color-background, #18002e);
  padding-block: 1.5rem;
}
.site-header__container {
  margin-inline: auto;
  max-width: 80rem;
  padding-inline: 1.5rem;
}
.site-header__logo {
  height: 1.85rem;
}
.site-header__title {
  color: var(--spruce-header-color-foreground, white);
  padding-block: 3rem 1.5rem;
}

.sidebar-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}
.sidebar-navigation > * {
  margin-block-end: 0;
  margin-block-start: 0;
  width: 100%;
}
.sidebar-navigation > * + * {
  margin-block-start: 1rem;
}
.sidebar-navigation a {
  color: var(--spruce-base-color-text, #474d52);
  text-decoration: none;
}
.sidebar-navigation a[aria-current=page] {
  color: var(--spruce-base-color-primary, #8660cd);
  font-weight: 700;
}

.wpcf7-list-item label {
  align-items: center;
  display: inline-flex;
}

.wpcf7-list-item input {
  appearance: none;
  background-color: var(--spruce-form-color-background, white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid var(--spruce-form-color-border, #e6e6e6);
  flex-shrink: 0;
  font-size: 1rem;
  height: 1em;
  line-height: 1;
  margin-bottom: -0.1em;
  margin-inline-end: 0.5rem;
  transition: all var(--spruce-transition-duration) var(--spruce-transition-timing-function);
  width: 1em;
}
.wpcf7-list-item input[type=radio] {
  border-radius: 50%;
}
.wpcf7-list-item input[type=checkbox] {
  border-radius: 0.25rem;
}
.wpcf7-list-item input:focus {
  border-color: var(--spruce-form-color-border-focus, #8660cd);
  box-shadow: 0 0 0 0.25rem var(--spruce-form-color-shadow-focus, rgba(134, 96, 205, 0.25));
  outline: 2px solid transparent;
}
.wpcf7-list-item input:checked {
  background-color: var(--spruce-form-color-check-background, #8660cd);
  border-color: var(--spruce-form-color-check-background, #8660cd);
}
.wpcf7-list-item input:checked[type=radio] {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3e%3ccircle cx="12" cy="12" r="6" style="fill:white;"/%3e%3c/svg%3e');
}
.wpcf7-list-item input:checked[type=checkbox] {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3e%3cpath d="M9.525,13.777l-2.411,-2.412c-0.234,-0.233 -0.613,-0.233 -0.846,0l-1.27,1.27c-0.233,0.233 -0.233,0.612 0,0.846l4.104,4.103c0.116,0.117 0.269,0.175 0.422,0.175l0.003,0c0.152,0 0.305,-0.058 0.421,-0.175l9.054,-9.053c0.233,-0.234 0.233,-0.613 -0,-0.846l-1.27,-1.269c-0.233,-0.234 -0.612,-0.234 -0.846,-0l-7.361,7.361Z" style="fill:white;"/%3e%3c/svg%3e');
}
.wpcf7-list-item input:indeterminate[type=checkbox] {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"%3e%3cpath d="M19.5,11.1c-0,-0.331 -0.269,-0.6 -0.6,-0.6l-13.8,0c-0.331,0 -0.6,0.269 -0.6,0.6l0,1.8c0,0.331 0.269,0.6 0.6,0.6l13.8,0c0.331,0 0.6,-0.269 0.6,-0.6l-0,-1.8Z" style="fill:white;"/%3e%3c/svg%3e');
  background-color: var(--spruce-form-color-check-background, #8660cd);
  border-color: var(--spruce-form-color-check-background, #8660cd);
}
.wpcf7-list-item input:disabled {
  background-color: var(--spruce-form-color-background-disabled, #f2f2f2);
  border-color: var(--spruce-form-color-border-disabled, #e6e6e6);
  cursor: not-allowed;
}
.wpcf7-list-item input:disabled + .wpcf7-list-item .wpcf7-list-item-label {
  opacity: 0.5;
}

.wpcf7-list-item .wpcf7-list-item-label {
  line-height: calc(2px + 2ex + 2px);
}

body {
  background-color: var(--spruce-base-color-background, white);
}

.btn--custom {
  background-color: var(--spruce-btn-color-custom-background, white);
  color: var(--spruce-btn-color-custom-foreground, black);
  box-shadow: -3px 5px var(--spruce-btn-color-custom-foreground, black);
  border: 3px solid var(--spruce-btn-color-custom-foreground, black);
  border-radius: 0;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}
.btn--custom:hover {
  background-color: var(--spruce-btn-color-custom-background-hover, #6e2648);
  color: var(--spruce-btn-color-custom-foreground-hover, white);
}
.btn--custom:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  outline: 2px solid transparent;
}

.btn--tertiary {
  background-color: var(--spruce-btn-color-tertiary-background, #aa3160);
  color: var(--spruce-btn-color-tertiary-foreground, white);
}
.btn--tertiary:hover {
  background-color: #5b1a33;
  color: var(--spruce-btn-color-tertiary-foreground, white);
}
.btn--tertiary:focus {
  box-shadow: 0 0 0 0.25rem var(--spruce-btn-color-tertiary-shadow-focus, rgba(170, 49, 96, 0.25));
  outline: 2px solid transparent;
}

.clear-btn {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.section-title {
  border-bottom: 1px solid var(--spruce-base-color-border, #e6e6e6);
  font-size: clamp(1.13305rem, 2vw + 1rem, 1.333rem);
  margin-block-end: 1rem;
  padding-block-end: 0.5rem;
}
* + .section-title {
  margin-block-start: 3rem;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@supports (-webkit-line-clamp: 3) {
  .ellipsis {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
  }
}

.scrollbar {
  max-height: 15rem;
  overflow: auto;
  padding-inline-end: 1.5rem;
}
.scrollbar::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.25);
}
.scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
}
.scrollbar > * {
  margin-block-end: 0;
  margin-block-start: 0;
  width: 100%;
}
.scrollbar > * + * {
  margin-block-start: 1.5rem;
}

.custom-heading-size {
  font-size: clamp(2.8rem, 4vw, 4rem);
}

.custom-link {
  transition: all var(--spruce-transition-duration) var(--spruce-transition-timing-function);
}
.custom-link:hover {
  background-color: aqua;
}

.cleared-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  position: relative;
  border: 1px solid var(--spruce-base-color-border, #e6e6e6);
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.card__link::before {
  content: "";
  inset: 0;
  position: absolute;
}

.card__link {
  color: var(--spruce-base-color-heading, #00060a);
  font-size: clamp(1.51035565rem, 2vw + 1rem, 1.776889rem);
  font-weight: 700;
  text-decoration: none;
}
