@use 'sass:map';
@use 'label' as *;
@use '../display' as *;
@use '../typography' as *;

$form-check: () !default;
$form-check: map.merge(
  (
    'border-radius': map.get($display, border-radius-sm),
    'border-width': 1px,
    'focus-ring-box-shadow-type': outside,
    'focus-ring-offset': 2px,
    'focus-ring-size': 2px,
    'focus-ring-type': outline,
    'font-size': 1.125rem,
    'font-weight': map.get($form-label, 'font-weight'),
    'line-height': map.get($typography, 'line-height-md'),
    'margin-block': 0.1em,
    'vertical-alignment': center,
  ),
  $form-check
);

$form-check-lg: () !default;
$form-check-lg: map.merge(
  (
    'font-size': map.get($typography, 'size-lg'),
  ),
  $form-check-lg
);

$form-check-sm: () !default;
$form-check-sm: map.merge(
  (
    'font-size': map.get($typography, 'font-size-base'),
  ),
  $form-check-sm
);
