@use 'spruce' as *;

.sidebar-navigation {
  @include clear-list;
  @include layout-stack('s');
  font-size: 1.0375rem;

  a {
    color: color('text');
    text-decoration: none;

    &[aria-current='page'] {
      color: color('primary');
      font-weight: 700;
    }
  }
}
