@use '../../../../scss/spruce';

.sidebar-navigation {
  @include spruce.clear-list;
  @include spruce.layout-stack(spruce.spacer(s));
  font-size: 1.1rem;

  a {
    color: spruce.color(text);
    text-decoration: none;

    &[aria-current='page'] {
      color: spruce.color(primary);
      font-weight: 700;
    }
  }
}
