@use 'sass:color';
@use 'dark-colors' as dark;

$color-tertiary: hsl(337deg 55% 43%);
$spacer: 1.25rem;

@use 'spruce' with (
  $colors: (
    'btn': (
      'custom-background': hsl(0deg 0% 100%),
      'custom-background-hover': hsl(332deg 49% 29%),
      'custom-foreground': hsl(0deg 0% 0%),
      'custom-foreground-hover': hsl(0deg 0% 100%),
      'tertiary-background': $color-tertiary,
      'tertiary-foreground': hsl(0deg 0% 100%),
      'tertiary-shadow-focus': color.adjust($color-tertiary, $alpha: -0.75),
    ),
  ),
  $dark-colors: dark.$colors,
  $settings: (
    'color-fallback': false,
    'html-smooth-scrolling': true,
    'hyphens': true,
    'prefix': 'spruce',
    'print': true,
    'utilities': (
      'typography': false,
    ),
    'css-custom-properties': false,
  ),
  $btn-lg: (
    'border-radius': 0.25em,
    'text-transform': uppercase,
  ),
  $form-range: (
    'thumb-height': 2rem,
    'thumb-width': 3rem,
  ),
  $generators: (
    'content': (
      'normalize': true,
    ),
    'form': (
      'btn': true,
    )
  ),
  $layout: (
    'container-width': 70rem,
  ),
);
