@use '../function' as *;
@use '../mixin' as *;
@use '../config' as *;

@mixin generate-btn(
  $selector,
  $pseudo-selector: null,
  $has-icons: true,
  $has-sizes: true,
) {
  #{$selector}#{$pseudo-selector} {
    align-items: center;
    border-radius: $btn-border-radius;
    border-style: solid;
    border-width: $btn-outline-width;
    cursor: pointer;
    display: inline-flex;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    font-style: $btn-font-style;
    font-weight: $btn-font-weight;
    gap: $btn-gap;
    justify-content: center;
    line-height: 1;
    padding: $btn-padding;
    text-align: start;
    text-decoration: none;
    transition-duration: transition(duration);
    transition-property: background-color,border-color, box-shadow, color;
    transition-timing-function: transition(timing-function);
  }

  #{$selector}:focus {
    outline-color: transparent;
    outline-style: solid;
  }

  #{$selector}:disabled,
  #{$selector}--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @if ($has-icons) {
    // Icon button
    #{$selector}--icon {
      padding: $btn-icon-padding;

      &#{$selector}--sm {
        padding: $btn-icon-padding-sm;
      }

      &#{$selector}--lg {
        padding: $btn-icon-padding-lg;
      }
    }

    // Icons
    #{$selector}__icon {
      flex-shrink: 0;
      height: $btn-icon-size;
      width: $btn-icon-size;

      &--sm {
        height: $btn-icon-size-sm;
        width: $btn-icon-size-sm;
      }
    }
  }

  @if ($has-sizes) {
    // Sizes
    #{$selector}--sm#{$pseudo-selector} {
      font-size: $btn-font-size-sm;
      gap: $btn-gap-sm;
      padding: $btn-padding-sm;
    }

    #{$selector}--lg#{$pseudo-selector} {
      gap: $btn-gap-lg;
      padding: $btn-padding-lg;

      @include breakpoint(md) {
        font-size: $btn-font-size-lg;
      }
    }

    // Display types
    #{$selector}--block#{$pseudo-selector} {
      width: 100%;
    }
  }
}
