@use '../function' as *;
@use '../mixin' as *;
@use '../variable' as *;

.btn {
  $this: &;

  align-items: center;
  border: 0;
  border-radius: $btn-border-radius;
  cursor: pointer;
  display: inline-flex;
  font-family: $btn-font-family;
  font-size: $btn-font-size;
  font-style: $btn-font-style;
  font-weight: $btn-font-weight;
  gap: spacer(xs);
  justify-content: center;
  line-height: 1;
  padding: $btn-padding;
  text-align: start;
  text-decoration: none;
  transition: all var(--#{setting(prefix)}-transition-duration) var(--#{setting(prefix)}-transition-timing-function);

  // States
  &:focus {
    outline-color: transparent;
    outline-style: solid;
  }

  &:disabled,
  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  // Icon button
  &--icon {
    padding: $btn-icon-padding;

    &#{$this}--sm {
      padding: $btn-icon-padding-sm;
    }

    &#{$this}--lg {
      padding: $btn-icon-padding-lg;
    }
  }

  // Sizes
  &--sm {
    font-size: $btn-font-size-sm;
    padding: $btn-padding-sm;
  }

  &--lg {
    padding: $btn-padding-lg;

    @include breakpoint(md) {
      font-size: $btn-font-size-lg;
    }
  }

  // Display types
  &--block {
    width: 100%;
  }

  // Icons
  &__icon {
    flex-shrink: 0;
    height: $btn-icon-size;
    width: $btn-icon-size;

    &--sm {
      height: $btn-icon-size-sm;
      width: $btn-icon-size-sm;
    }
  }
}

.btn--primary {
  @include btn-variant(primary-foreground, primary-background);
}

.btn--secondary {
  @include btn-variant(secondary-foreground, secondary-background);
}
