@use '../function' as *;
@use '../mixin' as *;
@use '../variable' as *;

.form-control {
  appearance: none;
  background-color: color(background, form);
  border: 1px solid color(border, form);
  border-radius: $form-control-border-radius;
  box-sizing: border-box;
  color: color(text, form);
  display: block;
  font-size: $form-control-font-size;
  font-weight: $form-control-font-weight;
  line-height: $form-control-line-height;
  padding: $form-control-padding;
  transition: all var(--#{setting(prefix)}-transition-duration) var(--#{setting(prefix)}-transition-timing-function);
  width: 100%;

  &::placeholder {
    color: color(placeholder, form);
  };

  &:focus {
    @include field-focus;
  }

  &[disabled],
  &[disabled='true'] {
    @include field-disabled;
  }

  &--valid {
    background-image: url('#{svg-escape($form-valid-image)}');
    background-position: center right $select-icon-right-offset;
    background-repeat: no-repeat;
    background-size: $select-icon-width auto;
    border-color: color(success, alert);
    padding-inline-end: $select-padding-right;

    html[dir='rtl'] & {
      background-position: center left $select-icon-right-offset;
    }

    &:focus {
      border-color: color(success, alert);
      box-shadow: 0 0 0 0.25rem rgba(color(success, alert, true), 0.25);
      outline: 2px solid transparent;
    }
  }

  &--invalid {
    background-image: url('#{svg-escape($form-invalid-image)}');
    background-position: center right $select-icon-right-offset;
    background-repeat: no-repeat;
    background-size: $select-icon-width auto;
    border-color: color(danger, alert);
    padding-inline-end: $select-padding-right;

    html[dir='rtl'] & {
      background-position: center left $select-icon-right-offset;
    }

    &:focus {
      border-color: color(danger, alert);
      box-shadow: 0 0 0 0.25rem rgba(color(danger, alert, true), 0.25);
      outline: 2px solid transparent;
    }
  }

  //Sizes
  &--sm {
    font-size: $form-control-font-size-sm;
    padding: $form-control-padding-sm;
  }

  &--lg {
    font-size: $form-control-font-size-lg;
    padding: $form-control-padding-lg;
  }
}
