@use '../function' as *;
@use '../config' as *;

@mixin generate-form-description {
  .form-description {
    color: color(text, form);
    display: block;
    font-size: $form-description-font-size;
    font-style: $form-description-font-style;
    font-weight: $form-description-font-weight;
    line-height: $line-height-md;
  }
}
