@use '../function' as *;
@use '../mixin' as *;
@use '../config' as *;

@mixin generate-fieldset {
  fieldset {
    @include layout-stack($fieldset-gap-size);

    border: 0;
    margin: 0;
    padding: 0;

    + fieldset {
      margin-top: spacer(l);
    }
  }

  legend {
    color: color(legend, form);
    font-size: $legend-font-size;
    font-weight: $legend-font-weight;
  }
}
