@use 'sass:map';
@use '../function' as *;
@use '../mixin' as *;
@use '../config' as *;
@use 'button' as *;

@mixin generate-file-btn(
  $selector,
  $pseudo-selector: null,
  $has-icons: true,
  $has-sizes: true,
) {
  @include generate-btn($selector, $pseudo-selector, $has-icons, $has-sizes);

  #{$selector} {
    display: block;

    &:focus-within#{$pseudo-selector} {
      background-color: transparent;
      box-shadow: 0 0 0 2px color($form-file-background + '-background', btn) inset;
      color: color($form-file-background + '-background', btn);
    }

    &#{$pseudo-selector} {
      @include btn-variant($form-file-background, false);
      margin-inline-end: spacer(s);
    }
  }
}
