@use '../function' as *;
@use '../mixin' as *;

@mixin generate-form-group {
  .form-group {
    @include layout-stack(xxs, false);

    &--vertical-check {
      @include layout-stack(s, true, left);
    }

    &--grid {
      align-items: flex-start;
      display: flex;
      flex-wrap: wrap;
      gap: spacer(xs);
    }
  }
}
