@use '../function';
@use '../mixin';

.form-group {
  @include mixin.layout-stack(function.spacer(xxs), false);

  &--vertical-check {
    @include mixin.layout-stack(function.spacer(xs), true, left);
  }

  &--grid {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    gap: function.spacer(xs);
  }
}
