@use '../variable' as *;
@use '../function' as *;

@mixin generate-form-label {
  .form-label {
    color: color(label, form);
    font-size: $form-label-font-size;
    font-style: $form-label-font-style;
    font-weight: $form-label-font-weight;

    &--sm {
      font-size: $form-label-font-size-sm;
    }

    &--lg {
      font-size: $form-label-font-size-lg;
    }
  }
}
