@use 'sass:map';
@use '../config' as *;
@use '../function' as *;

@mixin generate-form-label {
  .form-label {
    color: color('label', 'form');
    font-family: map.get($form-label, 'font-family');
    font-size: map.get($form-label, 'font-size');
    font-style: map.get($form-label, 'font-style');
    font-weight: map.get($form-label, 'font-weight');
    line-height: map.get($typography, 'line-height-md');
    text-align: map.get($form-label, 'text-align');
  }
}
