@use '../function' as *;
@use '../variable' as *;

select {
  &:not([multiple]):not([size]) {
    background-image: url('#{svg-escape($select-image)}');
    background-position: center right $select-icon-right-offset;
    background-repeat: no-repeat;
    background-size: $select-icon-width auto;
    padding-inline-end: $select-padding-right;

    html[dir='rtl'] & {
      background-position: center left $select-icon-right-offset;
    }
  }
}
