@use 'sass:map';
@use '../function' as *;
@use '../mixin' as *;
@use '../variable' as *;

@mixin generate-form-select {
  select.form-control {
    &:not([multiple]):not([size]) {
      @include field-icon($select-image, map.get($colors, form, select-foreground));
      background-position: center right $select-icon-right-offset;
      background-repeat: no-repeat;
      background-size: $select-icon-width auto;
      padding-inline-end: $select-padding-right;

      html[dir='rtl'] & {
        background-position: center left $select-icon-right-offset;
      }
    }
  }
}
