@use '../function' as *;

@mixin generate-field-feedback {
  .field-feedback {
    display: block;

    &--valid {
      color: color(success, alert);
    }

    &--invalid {
      color: color(danger, alert);
    }
  }
}
