@use 'sass:map';
@use '../config' as *;
@use '../function' as *;

@mixin generate-form-feedback {
  .field-feedback {
    display: block;
    line-height: map.get($typography, 'line-height-md');

    &--valid {
      color: color('success', 'alert');
    }

    &--invalid {
      color: color('danger', 'alert');
    }
  }
}
