@use '../config' as *;
@use '../function' as *;

@mixin generate-field-feedback {
  .field-feedback {
    display: block;
    line-height: $line-height-md;

    &--valid {
      color: color(success, alert);
    }

    &--invalid {
      color: color(danger, alert);
    }
  }
}
